<div class="govuk-!-width-three-quarters">
    <hr class="govuk-section-break govuk-section-break--m"/>
    <h1 class="govuk-heading-m govuk-!-margin-bottom-4">
        What happens next
    </h1>
    <div class="govuk-body">
        The supplier has 2 working days (48 hours) to accept or decline your offer.
    </div>
    <ol class="govuk-list govuk-list--number">
        <strong><li> If the supplier accepts the offer</li></strong>
        <ul class="govuk-list govuk-list--bullet">
            <li>the system will notify you that they have accepted your offer, and give you the suppliers contact details</li>
            <li>the supplier will sign the contract and send it back to you (offline)</li>
            <li>you will then sign the contract and send it back to the supplier (offline)</li>
            <li>you will confirm on this portal that the contract has been signed by both parties</li>
        </ul>
        <strong><li> If the supplier declines the offer </li></strong>
        <ul class="govuk-list govuk-list--bullet">
            <li>you will be notified that they have declined your offer, and be provided with a reason why</li>
            <li>you have the choice to: 
                <ul class="govuk-list">
                    <li> - offer the contract to the next placed supplier (after reviewing their price)</li>
                    <li> - switch to a further competition</li>
                    <li> - change your requirements</li>
                    <li> - stop the process</li>
                </ul>
            </li>
        </ul>
    </ol>
    <div class="govuk-body">
        If the supplier doesn't respond within 2 working days (48 hours), they are deemed to have declined the offer.
    </div>
</div>