<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd|%>
    <%=form_for @page_data[:model_object], url: facilities_management_beta_procurements_path do |f, attr|%>
        <h1 class="govuk-heading-l govuk-!-width-full govuk-!-font-weight-bold govuk-!-margin-bottom-5">Create a new procurement using the service requirements and buildings you have previously entered.</h1>
          <div>
              <p class="govuk-body-m govuk-!-width-one-half govuk-!-margin-bottom-3">Once saved under a new contract name:</p>
              <ul class="govuk-list govuk-!-width-one-half govuk-list--bullet govuk-!-margin-bottom-6">
                <li>you will have the option to amend your requirements (if needed), and re-run your results</li>
                <li>you will be able to choose from the contract options of direct award (if eligible) or further competition</li>
              </ul>
          </div>
        <div>
          <div class="govuk-!-width-one-half govuk-!-margin-bottom-6"</div>
            <div class="govuk-form-group">
              <label class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
                What do you want to call your contract?
              </label>
              <%= govuk_text_area_input(f, attr, 100) %>
            </div>
          </div>
          <%= govuk_continuation_buttons(pd, f, true) %>
        </div>
    <% end %>
<% end %>