<%= govuk_page_content(@page_description) do %>

  <ul>
    <li><a href="/ccs-patterns/prototypes/declined">FM-721/ HTML - Direct award - Declined (Contract summary)</a></li>
    <li><a href="/ccs-patterns/prototypes/no-response">FM-722/ HTML - Direct award - No response (Contract summary)</a></li>
    <li><a href="/ccs-patterns/prototypes/closed">FM-723/ HTML - Direct award - Closed (Contract summary)</a></li>
    <li><a href="/ccs-patterns/prototypes/accepted-not-signed">FM-720/ HTML - Direct award - Accepted, Not Signed (Contract summary)</a></li>
  </ul>

<%end %>
