<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd|%>
    <%=form_for @page_data[:model_object], url: facilities_management_beta_procurements_path do |f|%>
        <h1 class="govuk-body-l govuk-!-width-two-thirds govuk-!-font-weight-bold govuk-!-margin-bottom-5">Unfortunately there are no further suppliers available who can meet your requirements.</h1>
          <div>
              <p class="govuk-body-m govuk-!-width-two-thirds govuk-!-margin-bottom-5">Depending on the reasons given for the suppliers declining your contract offer, your next steps could be:</p>
              <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                <li>to amend your requirements</li>
                <li>to run a further competition to allow suppliers more flexibility in their solution</li>
              </ul>
          </div>
        <div>
          <div class="govuk-body-m govuk-!-width-two-thirds govuk-!-margin-bottom-6"</div>
            This procurement will automatically be closed, and can be viewed in the closed section of your procurements dashboard. </br>
            If you click on the procurement in the dashboard you will have the option to create a copy of the requirements for use in a new/similar procurement, or further competition.
          </div>
          <%= govuk_continuation_buttons(pd, f, false) %>
        </div>
    <% end %>
<% end %>