
.fm-buyer-account-heading {
  color: white;
}

.fm-buyer-account-panel {
  border: 1px #DEE0E2 solid;
  padding: 10px;
  background: #F8F8F8;
  margin-bottom: 30px;
}

.fm-buyer-account-panel__title {
  color: #007196;
  cursor: pointer;
  margin-bottom: 5px;
}

.fm-buyer-account-panel__title_no_link {
  color: #007196;
  cursor: pointer;
  text-decoration: none;
}

.fm-buyer-account-panel__title__disabled {
  color: gray;
  cursor: none;
  margin-bottom: 5px;
}

.fm-buyer-account-panel__body {
  color: black;
}
