.filter-component-container-grey {
  background-color: #F8F8F8;
  margin: 5px;
  overflow-x: hidden;
}

.filter-component-container {
  border-style: solid;
  border-width: 1px;
  border-color: #f3f2f1;
  padding-top: 10px;
  min-width: 300px;
}
.filter-component-govuk-checkboxes__item {
  margin-bottom: 0;
  background-color: #FFFFFF;
  padding-left: 2px;
  float:initial !important;
}
.filter-component-govuk-checkboxes__item:after {
  content:"";
  clear:both;
  display:table;
}
.filter-component-govuk-checkboxes__label {
  padding-right:5px;
  background-color: #FFFFFF;
  float:initial;
}

div.radio-content-toggle input[type=radio] ~ div.govuk-inset-text { display:none ;}
div.radio-content-toggle input[type=radio]:checked ~ div.govuk-inset-text { display:block ;}

div.radio-content-toggle input[type=radio] ~ div.radio-inner-content { display:none ;}
div.radio-content-toggle input[type=radio]:checked ~ div.radio-inner-content  { display:block ;}
