#wrapper {
  min-height:auto !important;
}
.CCS-govuk-checkboxes__item {
  margin-bottom: 0;
  background-color: #FFFFFF;
}
.CCS-govuk-checkboxes__label {
  width:99%;
  padding-right:5px;
  background-color: #FFFFFF;
}
.CCS-fm-supplier-filter-container {
  border-style: solid;
  border-width: 1px;
  border-color: silver;
  padding-top: 10px;
  min-width: 315px;
}

.CCS-fm-supplier-filter-container-grey {
  background-color: #F8F8F8;
  margin: 5px;
  padding: 0 5px 5px 5px;
}

.CCS-fm-supplier-filter-check-boxes {
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 50px;
  margin-top: 15px;
}

.CCS-fm-supplier-filter-check-box-label {
  background-color: white;
  overflow-wrap: break-word;
  max-width: 230px;
  margin:auto 0 !important;
  min-height:1em;
}

@media only screen and (orientation: portrait) {
  .CCS-fm-region-filter-check-box-label {
    background-color: white;
    overflow-wrap: break-word;
    max-width: 239px;
    padding-left: 5px;
  }
}

.CCS-fm-regions-selected-label {
  background-color: white;
  overflow-wrap: break-word;
  max-width: 255px;
  padding-left: 5px;
  padding-right: 5px;
}

.css-fm-lot-headings {
  white-space: nowrap;
}