<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <span class="govuk-caption-xl">Lot 1 - Regional service provision</span>
        <h1 class="govuk-heading-xl">
            XYZ Legal LTD
            <span class="govuk-!-font-size-19 govuk-!-font-weight-bold ccs-tag">SME</span>
        </h1>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-right-8">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Rates</h2>

        <p class="govuk-body">Fixed until September 2021 and based on an 8 hour working day.</p>

        <p class="govuk-body">These are the maximum rates the supplier charges for a direct award. You may get a cheaper rate by running a futher competition.</p>

        <table class="govuk-table govuk-!-margin-top-6 govuk-!-margin-bottom-7">
            <caption class="govuk-table__caption govuk-visually-hidden">Rates</caption>

            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-half" scope="col">Position</th>
                    <th class="govuk-table__header govuk-!-font-weight-bold" scope="col">Hourly</th>
                    <th class="govuk-table__header govuk-!-font-weight-bold" scope="col">Daily</th>
                    <th class="govuk-table__header govuk-!-font-weight-bold" scope="col">Monthly</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header govuk-!-width-one-half" scope="row">Managing practitioner</th>
                    <td class="govuk-table__cell">&pound;158</td>
                    <td class="govuk-table__cell">&pound;1,800</td>
                    <td class="govuk-table__cell">&pound;22,300</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header govuk-!-width-one-half" scope="row">Senior practitioner</th>
                    <td class="govuk-table__cell">&pound;145</td>
                    <td class="govuk-table__cell">&pound;1,100</td>
                    <td class="govuk-table__cell">&pound;20,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header govuk-!-width-one-half" scope="row">Solicitor or associate</th>
                    <td class="govuk-table__cell">&pound;133</td>
                    <td class="govuk-table__cell">&pound;994</td>
                    <td class="govuk-table__cell">&pound;18,650</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header govuk-!-width-one-half" scope="row">Legal support practitioner or executive</th>
                    <td class="govuk-table__cell">&pound;92</td>
                    <td class="govuk-table__cell">&pound;736</td>
                    <td class="govuk-table__cell">&pound;13,932</td>
                </tr>
            </tbody>
        </table>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
          Supplier prospectus
        </h2>
        <p class="govuk-body govuk-!-padding-bottom-6">
          <a href="#" class="govuk-link govuk-link--no-visited-state">https://xyzlegallitd.co.uk/ccs-prospectus.pdf</a>
        </p>

        <p class="govuk-body"><abbr class="govuk-!-font-size-19 ccs-tag">SME</abbr><span class="ccs-remove">:</span> This supplier is a small to medium enterprise</p>

    </div>
    <div class="govuk-grid-column-one-third">

        <div class="ccs-info-panel ccs-info-panel--pull-up">
            <h3 class="govuk-heading-m">Contact details</h3>

            <dl class="ccs-contact-details">
                <dt>Person</dt>
                <dd>Jane Smith</dd>

                <dt>Email</dt>
                <dd><a href="mailto:emailaddress@websiteurl.co.uk">emailaddress@websiteurl.co.uk</a></dd>

                <dt>Phone number</dt>
                <dd>01234 567890</dd>

                <dt>Website</dt>
                <dd><a href="http://websiteurl.co.uk">http://websiteurl.co.uk</a></dd>

                <dt>Address</dt>
                <dd>Maidstone Campus</dd>
                <dd>Tonbridge Road</dd>
                <dd>Maidstone</dd>
                <dd>Kent</dd>
                <dd>ME16 8AQ</dd>
            </dl>
        </div>

    </div>
</div>
