////
/// @group helpers
////

/// Focused text
///
/// Provides an outline to clearly indicate when the target element is focused.
/// Used for interactive text-based elements.
///
/// @access public

@mixin govuk-focused-text {
  @include govuk-not-ie8 {
    outline: $govuk-focus-width solid transparent;
    }
  color: $govuk-focus-text-colour;
  background-color: $govuk-focus-colour;
  box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
  text-decoration: none;
  }
