<div class ="govuk-body govuk-!-margin-top-7 govuk-!-margin-bottom-8 govuk-!-width-three-quarters">
    <strong>
        <% case @page_data[:procurement_data][:status] %>
        <% when 'awaiting response' %>
            You can withdraw this contract offer if you need to. Use the button below which will withdraw the offer made to the supplier and close the procurement.
        <% when 'awaiting signature'%>
            Use the ‘confirm if contract signed or not’ button below to confirm whether or not the contract was signed. <br/>
            You can still withdraw this contract offer; if you need to, use the 'Close this procurement' button below, which will withdraw the offer from the supplier, and close the procurement.
        <% when 'signed' %>
            If you wish to reuse this procurement’s requirements in a new/similar procurement, or further competition, please click on the button below to create a copy and save under a new contract name.
        <% else %>
        <% end %>
    </strong>
</div>