<table>
  <tr>
    <th>
      Contract name
    </th>
    <th>
      Supplier
    </th>
    <th>
      Start date
    </th>
    <th>
      End date
    </th>
  </tr>
  <tr>
    <td>
      School facilities London
    </td>
    <td>
      School facilities London
    </td>
    <td>
      School facilities London
    </td>
    <td>
      School facilities London
    </td>
  </tr>
</table>