<% if !@searches.empty? %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 20%">Name</th>
      <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 25%">Saved</th>
      <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 15%">Stage</th>
      <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"></th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% @searches.each do |search| %>
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-padding-right-2" scope="row">
          <%= link_to search.name, facilities_management_beta_procurement_path(search) %>
        </th>
        <td class="govuk-table__cell govuk-!-padding-right-2"><%= format_date_time(search.updated_at.in_time_zone("London")) %></td>
        <td class="govuk-table__cell govuk-!-padding-right-2"><%= procurement_state(search.aasm_state) %></td>
        <td class="govuk-table__cell govuk-!-padding-right-2"><%= link_to "Delete", facilities_management_beta_procurement_path(search, delete: 'y'), class: "govuk-link govuk-link--no-visited-state" if search.quick_search? %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <hr class="govuk-section-break govuk-section-break--visible">
  <span class="govuk-hint govuk-!-margin-top-3"> You do not have any searches </span>
  <hr class="govuk-section-break govuk-section-break--visible">
<% end %>
