.ccs-summary-box {
  @extend %govuk-body-m;

  background-color: ccs-colour("light-grey");
  padding: govuk-spacing(3);
}

.ccs-summary-box__headings {
  margin-bottom: govuk-spacing(2);

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.ccs-summary-box__title {
  @include govuk-typography-weight-bold;

  float: left;
  width: 66%;
}

.ccs-summary-box__change {  
  float: right;
}

.ccs-summary-box__content {
  background-color: govuk-colour("white");
  padding: govuk-spacing(2);

  & details {
    margin-bottom: 0px
  }
}
