<div id="fm-lot-1a-list" class="govuk-grid-column-one-third">
  <span class="govuk-heading-m">Total contract value up to £7m</span>
  <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Lot 1a</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% @suppliers_lot1a.each do |supplier| %>
      <tr id="<%= SecureRandom.uuid %>" class="govuk-table__row" servicecode="<%= supplier['service_code'] %>" regioncode="<%= supplier['region_code'] %>" >
        <td class="govuk-table__header" scope="row"><%= supplier['name'] %></td>
      </tr>
      </tbody>
    <% end %>
    </table>
</div>
