$ccs_inset-text_bg_grey: ccs-colour("grey-4");

.cmp-inset-text--neutral {
	background-color:$ccs_inset-text_bg_grey; 
	border-left:0;
}
.cmp-inset-text__body--neutral {
	font-size: 16px;
	font-weight: 400;
}
.cmp-inset-text__list-item {
	font-size: 16px;
}