@import "govuk-frontend/components/inset-text/inset-text";

$ccs_inset-text_bg: govuk-colour("grey-4");
$ccs_inset-text_border: govuk-colour("grey-2");

.govuk-inset-text {
	background-color:$ccs_inset-text_bg; 
	border-left:4px solid $ccs_inset-text_border;
}
.cmp-inset-text__list-item {
	font-size: 16px;
}