<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
      <%= link_to branch.supplier.name, branch, class: 'govuk-link ccs-no-underline' %>
    </h2>
    <% if branch.name.present? %>
      <h3 class="govuk-heading-s supplier-record__branch"><%= t('supply_teachers.suppliers.all_suppliers.branch') %>: <span class="supplier-record__branch-name"><%= branch.name %></span>
      </h3>
    <% end %>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
