<h2 class="govuk-heading-m govuk-!-margin-bottom-1">
  <%= t('.services_and_buildings') %>
</h2>

<div class="govuk-!-margin-left-5 govuk-!-margin-bottom-5">
  <%= link_to t('.excel'), facilities_management_procurement_path(procurement_id: @procurement.id, 'spreadsheet': true) %>,
  <%= t('.which_you_can_upload') %>
</div>

<%= render partial: 'facilities_management/procurements/requirements/contract_summary_table', locals: { sections: ['services', 'buildings', 'buildings_and_services', 'service_requirements'] } %>
