<div class="govuk-form-group">
  <%= govuk_page_header(FacilitiesManagement::PageDetail::Heading.new(t('.title'), @procurement.contract_name, nil, nil, nil)) %>
  <% content_for :page_title, t('.title') %>
  <div class="contract-dates">
    <%= render partial: 'facilities_management/rm3830/procurements/edit/contract_period/initial_call_off_period', locals: { f: f } %>
    <hr class="govuk-section-break govuk-section-break--m">
    <%= render partial: 'facilities_management/rm3830/procurements/edit/contract_period/mobilisation_period', locals: { f: f } %>
    <hr class="govuk-section-break govuk-section-break--m">
    <%= render partial: 'facilities_management/rm3830/procurements/edit/contract_period/optional_call_off_extensions', locals: { f: f } %>
  </div>
</div>