@import "dashboard-section.scss";
@import "filter-component.scss";
@import "panel.scss";
@import "procurement-buildings.scss";
@import "service-specification.scss";
@import "summary-box";
@import "summary-list.scss";
@import "supplier_lot_data";
@import "supplier-lot-list.scss";
