.filter-component-container-grey {
  background-color: #F8F8F8;
  margin: 5px;
  overflow-x: hidden;
}

.filter-component-container {
  border-style: solid;
  border-width: 1px;
  border-color: #f3f2f1;
  padding-top: 10px;
  min-width: 300px;
}

.filter-component-container details {
  background-color: govuk-colour("white");
  padding: govuk-spacing(2);
  margin: govuk-spacing(2);
}
