.supplier-lot-list {
  @media (max-width: 90em) {
    margin-bottom: 50px;
  }

  @media (max-width: 1000px) {
    margin-bottom: 20px;
  }
}

#supplier-lot-list__container, .filter-pane {
  @media (max-width: 1000px) {
    width: 100%;
  }
}
