@import "govuk-frontend/components/header/header";

$ccs_header_bg: govuk-colour("primary");
$ccs_header_fg: govuk-colour("white");

.govuk-header {
  color: $ccs_header_fg;
  background-color: $ccs_header_bg;
  border-bottom: 0;
  padding-top: 0;
}

.govuk-header__container {
  border-bottom: none;
  margin-bottom: 0;
  padding: 20px 0 10px 0;
}

.govuk-header__logotype svg {
  width: 110px;
  height: 90px;
}

.govuk-header__logotype_dfe svg {
  width: 85px;
  height: 69px;
  vertical-align: top;
  margin-left: 10px;
}

.govuk-header__content {
  display: block;
  text-align: right;
  margin-top: 2rem;
}

.govuk-header__link--service-name {
  font-weight: $govuk-font-weight-semi-bold;
}

.govuk-header__navigation  {
  text-align: right;
  margin-top: 0.5rem;
}

.govuk-header__navigation-item {
  padding: 0;
}

.govuk-header__navigation-item:last-child {
  margin-right: 0;
}

.ccs-header__signout, .govuk-header__navigation-item a {
  background: none;
  border: 0;
  box-shadow: none;
  font-family: $govuk-font-family;
  font-size: 19px;
  font-weight: $govuk-font-weight-regular;
  color: #FFF;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: 3px solid govuk-colour("yellow");
    outline-offset: 0;
  }
}

@media (min-width: 641px) {
  .govuk-header__logotype svg {
    width: 140px;
  }

  .govuk-header__logotype svg {
    height: 113px;
  }

  .govuk-header__logotype_dfe svg {
    width: 75px;
    height: 61px;
  }
}
