$ccs_header_bg: ccs-colour("primary");

.govuk-header {
  background-color: $ccs_header_bg;
}

.ccs-header__service-name:hover {
  text-decoration: none;
}

@media (max-width: 48.0625em) {
  .govuk-header__navigation-item {
    border-bottom: 1px solid darken($ccs_header_bg, 5%);
  }
}
@media (min-width: 48.0625em) {
  .govuk-header__content {
    text-align: right;
  }
}

.govuk-header__link--homepage {
  @include govuk-media-query($from: tablet) {
    display: inline-block;
  }
}
