<%= render 'layouts/logo' %>
<div class="govuk-header__content">
  <span class="govuk-header__link--service-name">Supplier account</span>
  <nav role="navigation" aria-label="Top Level Navigation">
    <ul id="navigation" class="govuk-header__navigation ">
      <% unless fm_supplier_login_page %>
        <% text = controller.controller_name == "passwords" ? 'Back to start' : 'My dashboard' %>
        <li class="govuk-header__navigation-item"><%= link_to "#{text}", facilities_management_supplier_path, class: 'govuk-header__link' %></li>
      <% end %>
      <%= navigation_link_supplier_and_buyer if not_permitted_page %>
      <%= render 'layouts/sign-out-link', sign_out_path: facilities_management_supplier_destroy_user_session_path %>
    </ul>
  </nav>
</div>
