.ccs-panel {
  @include govuk-font($size: 19);

  box-sizing: border-box;

  margin-bottom: govuk-spacing(4);
  padding: govuk-spacing(3) - $govuk-border-width;
  
  text-align: left;

  @include govuk-media-query($until: tablet) {
    padding: govuk-spacing(3) - $govuk-border-width;
  }
}

.ccs-panel--confirmation {
  color: govuk-colour("black");
  background: ccs-colour("light-green");
  border-left: 3px solid ccs-colour("dark-green");
}

.ccs-panel__title {
  margin-top: 0;
  margin-bottom: govuk-spacing(2);

  @include govuk-font($size: 24, $weight: bold);
}

.ccs-panel__title:last-child {
  margin-bottom: 0;
}

.ccs-panel__body {
  @include govuk-font($size: 19);
}
