<table class="govuk-table">
  <% unless @closed_contracts.empty? %>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" width="25%">Contract name</th>
        <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" width="20%">Supplier</th>
        <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" width="15%">Date closed</th>
        <td class="govuk-table__header govuk-!-font-weight-bold" scope="col" width="15%"></td>
        <td class="govuk-table__header govuk-!-font-weight-bold" scope="col" width="25%"></td>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @closed_contracts.each do |closed_contract| %>
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-padding-right-2" scope="row">
            <%= link_to closed_contract.procurement.contract_name, facilities_management_procurement_contract_path(procurement_id: closed_contract.procurement.id, id: closed_contract.id) %>
          </th>
          <td class="govuk-table__cell govuk-!-padding-right-2"><%= closed_contract.supplier.data['supplier_name'] %></td>
          <td class="govuk-table__cell govuk-!-padding-right-2"><%= format_date(closed_contract.contract_closed_date) %></td>
          <td class="govuk-table__cell govuk-!-padding-right-2"></td>
          <td class="govuk-table__cell govuk-!-padding-right-2"></td>
        </tr>
      <% end %>
  </tbody>
  <% else %>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3">
      <span class="govuk-body"> <%= t('.no_closed') %></span>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-3">
  <% end %>
</table>
