<table class="govuk-table">
  <% unless @further_competition_contracts.empty? %>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" width="25%">Name</th>
        <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" width="25%">Date saved</th>
        <td class="govuk-table__header govuk-!-font-weight-bold" scope="col" width="55%"></td>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @further_competition_contracts.each do |fc_contracts| %>
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-padding-right-2" scope="row">
            <%= link_to fc_contracts.contract_name, facilities_management_procurement_path(fc_contracts) %>
          </th>
          <td class="govuk-table__cell govuk-!-padding-right-2"><%= format_date_time fc_contracts.updated_at %></td>
          <td class="govuk-table__header govuk-!-font-weight-bold" scope="col" width="55%"></td>
          <td class="govuk-table__header govuk-!-font-weight-bold" scope="col" width="55%"></td>
        </tr>
      <% end %>
  </tbody>
  <% else %>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3">
      <span class="govuk-body"> <%= t('.no_fc') %></span>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-3">
  <% end %>
</table>
