.supplier-record__file-download {
  display: inline-block;
  position: relative;
  min-height: 33px;
  min-width: 50px;
  padding-left: 70px;
}

.supplier-record__file-download:before {
    position: absolute;
    left: 0px;
    top: -6px;
    display: inline-block;
    width: auto;
    height: auto;
    background: #777777 image-url('corner-curl.png') 100% -1px no-repeat;
    color: #FFF;
    background-size: 9px;
    font-size: 13px;
    text-align: center;
    line-height: 2.45;
    text-transform: uppercase;
    font-weight: $govuk-font-weight-bold;
    content: "";
    padding-left: 5px;
    padding-right: 5px;
}

.supplier-record__file-download[href*='format=xlsx']:before {
    background-color: #007831;
    content: ".XLSX";
}

.supplier-record__file-download[href*='format=csv']:before {
    background-color: #007831;
    content: ".CSV";
}

.supplier-record__file-download[href*='format=doc']:before {
    background-color: #0d0da0;
    content: ".DOC";
}

.supplier-record__file-download-doc:before {
  background-color: #0C5FAE;
  content: ".DOC";
}

.supplier-record__file-download[href*='format=pdf']:before {
    background-color: #df1a1a;
    content: ".PDF";
}

.supplier-record__file-download[href*='format=odt']:before {
  background-color: #0D85CD;
  content: ".ODT";
}
