<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-top-0">
      <%= link_to supplier.name, '#', class: 'govuk-link ccs-no-underline' %>
      <% if supplier.sme %>
        <span class="govuk-tag govuk-!-font-size-14 ccs-tag"><%= t('legal_services.suppliers.index.sme') %></span>
      <% end %>
    </h2>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
