<h2 class="govuk-heading-m" id="subsection-title">
  Managed service providers
</h2>
<p class="govuk-body">You will need to choose either:</p>
<h4 class="govuk-heading-s">A master vendor</h4>
<p class="govuk-body">
  These supply whatever candidates they can. Where they don’t have a suitable candidate themselves, they find other suppliers who do.
  <br>
  You will then need to contact all the suppliers and run a further competition.
</p>
<p class="govuk-body">or</p>
<h4 class="govuk-heading-s">A neutral vendor</h4>
<p class="govuk-body">
  A neutral vendor only provides candidates from other suppliers - they have no candidates of their own.
</p>
