@import "govuk-frontend/components/button/button";

$govuk-button-colour: govuk-colour("secondary");
$govuk-button-hover-colour: darken($govuk-button-colour, 5%);
$govuk-button-shadow-colour: darken($govuk-button-colour, 15%);
$govuk-button-text-colour: govuk-colour("white");
$govuk-button-radius: 3px !default;

$button-shadow-size: $govuk-border-width-form-element;

.govuk-button {
  border-radius: $govuk-button-radius;
  color: $govuk-button-text-colour;
  background-color: $govuk-button-colour;


  // Ensure that any global link styles are overridden
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $govuk-button-text-colour;
  }

  @include govuk-compatibility(govuk_template) {
    &:link:focus {
      color: $govuk-button-text-colour;
    }
  }

  &:hover,
  &:focus {
    background-color: $govuk-button-hover-colour;
  }
}

.govuk-button--disabled,
.govuk-button[disabled="disabled"],
.govuk-button[disabled] {
  background: $govuk-button-colour;

  &:hover {
    background-color: $govuk-button-colour;
  }

  &:active {
    top: 0;
    -webkit-box-shadow: 0 $button-shadow-size 0 $govuk-button-shadow-colour;
            box-shadow: 0 $button-shadow-size 0 $govuk-button-shadow-colour; // s0
    @include govuk-if-ie8 {
      border-bottom: $button-shadow-size solid $govuk-button-shadow-colour; // s0
    }
  }
}