<span class="details-expando--data" title="<%= t('.total_hours_tip') %>"><%= number_with_precision(service_hours.total_hours_annually, precision: 2) %></span>
<%= content_tag :details, class: 'govuk-details', data: { module: 'govuk-details' } do %>
  <% capture do %>
    <% concat(content_tag(:summary, content_tag(:span, t('.service_hours_caption'), class: 'govuk-details__summary-text govuk-!-font-size-16'), class: 'govuk-details__summary')) %>
    <% concat(content_tag(:div, class: "govuk-details__text govuk-!-padding-bottom-0 govuk-!-padding-top-0") do %>
      <ul class="govuk-list">
        <% service_hours.attributes.reject{|k| k == :uom}.each do |k, v| %>
          <li class="govuk-!-font-size-14"> <%= "#{k.to_s.capitalize}, #{v.to_summary}".html_safe %> </li>
        <% end %>
      </ul>
    <% end) %>
  <% end %>
<% end %>
