<div class="govuk-body govuk-grid-row procurement-building-service">
  <%= form_for @procurement_building, url: facilities_management_beta_procurement_building_path(@procurement_building, service_question: @service_question), method: :put, html: { multipart: true } do |f| %>
    <div class="govuk-grid-column-full">
      <%= render('facilities_management/beta/procurements/shared/backlink_header') %>
      <%= render partial: 'shared/error_summary_nested_attributes', locals: { nested_attributes: f.object.procurement_building_services } %>
    </div>
    <%= render @service_question, f: f %>
  <% end %>
</div>