<h1>FacilitiesManagement::Beta::ProcurementBuildingsServicesLifts#index</h1>
<p>Find me in app/views/facilities_management/beta/procurement_buildings_services_lifts/index.html.erb</p>
Count of lifts, each floor of each lift and aggregate count
