<% if errors.any? %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      <%= t("shared.error_summary.there_is_a_problem") %>
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% requirements_errors_list.each do |attribute, message| %>
          <li>
            <%= link_to message, "##{error_id(attribute)}", data: { turbolinks: false, fieldname: attribute } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>