<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-!-font-size-24">
      <%= t('.contract_ready_to_send_html', supplier_name: @procurement.procurement_suppliers.first.supplier_name) %>
    </p>
    <p class="govuk-body"><%= t('.click_confirm_and_continue') %></p>
  </div>
</div>

<%= warning_text(t('.warning_text')) %>
