<p class="govuk-body-l"><%= t('.heading') %></p>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_step_by_step_navigation(
      [
        {
          title: t('.step_1.title'),
          content: [
            {
              type: :list,
              items: [
                {
                  text: t('.step_1.list.item_1')
                },
                {
                  text: t('.step_1.list.item_2')
                }
              ]
            }
          ]
        },
        {
          title: t('.step_2.title'),
          content: [
            {
              type: :list,
              items: [
                {
                  text: t('.step_2.list.item_1')
                },
                {
                  text: t('.step_2.list.item_2')
                },
                {
                  text: t('.step_2.list.item_3_html')
                }
              ]
            }
          ]
        },
        {
          title: t('.step_3.title'),
          content: [
            {
              type: :list,
              items: [
                {
                  text: t('.step_3.list.item_1')
                },
                {
                  text: t('.step_3.list.item_2')
                },
                {
                  text: t('.step_3.list.item_3')
                },
                {
                  text: t('.step_3.list.item_4')
                }
              ]
            }
          ]
        },
        {
          title: t('.step_4.title'),
          logic: t('.or'),
          content: [
            {
              type: :paragraph,
              text: t('.step_4.content')
            },
            {
              type: :list,
              items: [
                {
                  text: t('.step_4.list.item_1')
                },
                {
                  text: t('.step_4.list.item_2')
                },
                {
                  text: t('.step_4.list.item_3')
                },
                {
                  text: t('.step_4.list.item_4')
                }
              ]
            }
          ]
        }
      ]
    ) %>
  </div>
</div>
