<h1>Management Consultancy Framework</h1>
<h2><%= lot_title(@lot) %></h2>

<p>
  <%= pluralize(@suppliers.count, 'supplier') %>
</p>

<ul>
  <% @suppliers.each do |supplier| %>
    <li>
      <%= supplier.name %>
    </li>
  <% end %>
</ul>
