<%= govuk_page_content(@page_description) do %>
  <dl>
    <span class="govuk-caption-m"><%= @procurement.name %></span>
    <h1 class="govuk-heading-xl">Important information</h1>
    <dd></dd>
    
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        There are some elements of a direct award contract that cannot be amended.
        Please read the below information to ensure that a direct award is suitable for you.
      </span>
    </summary>
    
    <dl class="govuk-summary-list">
            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <td class="govuk-table__cell">
                  <b>Insurance</b>
                  Fixed levels of insurance will apply and cannot be changed within a direct award. To view the levels and for further information, please see joint_schedule_3.
                </td>
                <td class="govuk-table__cell">
                  <b>Indexation</b>
                  Your supplier will have the opportunity to adjust their pricing using the CPI index data on the first anniversary of your contract start date. Further information on this can be found in call_off_schedule_5.
                </td>
                <td class="govuk-table__cell">
                  <b>Services</b>
                  The service specifications and service standards cannot be amended within a direct award. Please check within the service requirements and standards that you're happy with the details for the services you are buying.
                </td>
              </tbody>
            </table>
          </dl>
    
    <%= render('continue_button_footer') %>
  </dl>
<%end %>
