<%= govuk_page_content(@page_description) do %>
  <dl>
    <h1 class="govuk-heading-xl">Important information</h1>
    <dd></dd>
    
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        There are some elements of a direct award contract that cannot be amended.
        Please read the below information to ensure that a direct award is suitable for you.
      </span>
    </summary>
  </dl>
<%end %>
