<% unless @live_contracts.empty? %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter govuk-!-padding-right-4" scope="col">Contract name</th>
        <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter govuk-!-padding-right-4" scope="col">Buyer</th>
        <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter govuk-!-padding-right-4" scope="col">Start date</th>
        <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter" scope="col">End date</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @live_contracts.each do |live_contract| %>
        <tr class="govuk-table__row" scope="row">
          <td class="govuk-table__cell govuk-!-padding-right-4"> <%= link_to live_contract.procurement.contract_name, facilities_management_supplier_contract_path(live_contract.id), class: 'govuk-link govuk-link--no-visited-state' %> </td>
          <td class="govuk-table__cell govuk-!-padding-right-4"> <%= live_contract.procurement.user.buyer_detail.organisation_name %> </td>
          <td class="govuk-table__cell govuk-!-padding-right-4"> <%= format_date live_contract.contract_start_date %> </td>
          <td class="govuk-table__cell"> <%= format_date live_contract.contract_end_date %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
    <hr class="govuk-section-break govuk-section-break--visible">
      <span class="govuk-hint govuk-!-margin-top-3"> You do not have any live contracts </span>
    <hr class="govuk-section-break govuk-section-break--visible">
<% end %>
