<% unless @received_offers.empty? %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter govuk-!-padding-right-4" scope="col">Contract name</th>
          <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter govuk-!-padding-right-4" scope="col">Buyer</th>
          <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter govuk-!-padding-right-4" scope="col">Date offer expires</th>
          <td class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter"></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @received_offers.each do |received_offer| %>
        <tr class="govuk-table__row" scope="row">
          <td class="govuk-table__cell govuk-!-padding-right-4"> <%= link_to received_offer.procurement.contract_name, facilities_management_supplier_contract_path(received_offer.id), class: 'govuk-link govuk-link--no-visited-state' %> </td>
          <td class="govuk-table__cell govuk-!-padding-right-4"> <%= received_offer.procurement.user.buyer_detail.organisation_name %> </td>
          <td class="govuk-table__cell govuk-!-padding-right-4"> <%= format_date_time received_offer.contract_expiry_date %> </td>
          <td class="govuk-table__cell"><strong class="govuk-tag"> ACTION REQUIRED </strong></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <hr class="govuk-section-break govuk-section-break--visible">
    <span class="govuk-hint govuk-!-margin-top-3"> You do not have any received offers </span>
  <hr class="govuk-section-break govuk-section-break--visible">
<% end %>
