<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Mobilisation period
  </dt>
  <dd class="govuk-summary-list__value">
    <%= mobilisation_period @procurement.mobilisation_period %>
  </dd>
  <dd class="govuk-summary-list__actions">
  </dd>
</div>

<% unless @procurement.mobilisation_period.nil? %>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Mobilisation start date
    </dt>
    <dd class="govuk-summary-list__value">
      <%= mobilisation_start_date @procurement.initial_call_off_start_date, @procurement.mobilisation_period %>
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
<% end %>

<% unless @procurement.mobilisation_period.nil? %>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Mobilisation end date
    </dt>
    <dd class="govuk-summary-list__value">
      <%= mobilisation_end_date @procurement.initial_call_off_start_date %>
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
<% end %>
