<h1 class="govuk-heading-m govuk-!-margin-bottom-2">
    Call-off contract documents
</h1>
<table class="govuk-table govuk-!-margin-bottom-0">
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-0" width="70px"></td>
            <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-0"></td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <%= image_tag('zip_image.png', :alt => 'download zip file', width: '60px') %>
            </td>
            <td class="govuk-table__cell">
                <%= link_to 'Download Call-off contract', '#', class: 'govuk-!-font-size-20 govuk-link govuk-link--no-visited-state' %><br/>
                <p class="govuk-hint govuk-!-margin-bottom-0">Created <%= format_date_time(@page_data[:procurement_data][:call_off_documents_creation_date]) %></p>
            </td>
        </tr>
    </tbody>
</table>
