<div>
    <hr class="govuk-section-break govuk-section-break--m"/>
    <h1 class="govuk-heading-m govuk-!-margin-bottom-4">
        What happens next
    </h1>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>
        <ol class="govuk-list govuk-list--number">
            <strong><li>You review the contract offer</li></strong>
            <ul class="govuk-list govuk-list--bullet">
                <li>you should review the offer to see if you wish to accept the contract</li>
                <li>please ensure you download and review all the contract documents</li>
            </ul>
            <strong><li>Accept or decline the contract offer</li></strong>
            <ul class="govuk-list govuk-list--bullet">
                <li>you are required to accept or decline this offer within 48 hours (Monday to Friday only, <br/> excluding weekends and bank holidays)</li>
                <li>the deadline for your response is shown at the top of this page</li>
            </ul>
            <strong><li>No response</li></strong>
            <ul class="govuk-list govuk-list--bullet">
                <li>if you do not respond within 48 hours it will be recorded as 'no response' and <br/> the offer will be automatically withrawn allowing the customer the option of <br/> offering the contract to the next lowest priced supplier</li>
            </ul>
        </ol>
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible"/>
</div>