#ccs-password-rules {
  li {
    &.correct {
      color: govuk-colour("green");

      span {
        background-image: url("data:image/svg+xml,%3Csvg height='15' viewBox='0 0 19 15' width='19' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m43.6740506 1353.95951 9.8607595-9.95951 2.4651899 2.55061-12.3259494 12.44939-6.6740506-6.74089 2.5253165-2.55061z' fill='%23006435' fill-rule='evenodd' transform='translate(-37 -1344)'/%3E%3C/svg%3E");
      }
    }

    &.wrong {
      color: $govuk-error-colour;

      span {
        background-image: url("data:image/svg+xml,%3Csvg height='14' viewBox='0 0 14 14' width='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m46 1385.41176-4.5882353 4.58824-2.4117647-2.41176 4.5882353-4.58824-4.5882353-4.58824 2.4117647-2.41176 4.5882353 4.58824 4.5882353-4.58824 2.4117647 2.41176-4.5882353 4.58824 4.5882353 4.58824-2.4117647 2.41176z' fill='%23b10e1e' fill-rule='evenodd' transform='matrix(-1 0 0 1 53 -1376)'/%3E%3C/svg%3E");
      }
    }

    &.correct,
    &.wrong {
      span:first-child {
        position: relative;
        top: 0.2rem;

        b {
          position: absolute;
          left: -3000px;
          top: -3000px;
        }
      }
    }

    span {
      display: inline-block;
      background-image: none;
      background-position: center center;
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;

      b {
        display: inline-block;
        margin-right: 0.3rem;
        width: inherit;
        height: inherit;
      }
    }
  }
}
