<div class="govuk-grid-column govuk-!-padding-bottom-5"><%= govuk_tag_with_text(:grey, t('.generating')) %></div>
<div class="govuk-grid-column govuk-!-padding-bottom-9">
  <p class="govuk-!-font-weight-regular govuk-hint"><%= t('.guidance') %></p>
</div>
