<span class="govuk-heading-l govuk-!-margin-left-2" scope="col">Total contract value</span>
<div id="fm-lot-1a-list" class="govuk-grid-column-one-third">
  <span class="govuk-heading-m">up to £7m</span>
  <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Lot 1a</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @suppliers_lot1a.each do |supplier| %>
        <tr>
          <td class="govuk-table__cell">
            <span><%= supplier['name'] %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
