<% if internal_area_incomplete? || external_area_incomplete? %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      <%= t("common.error_summary_title") %>
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% if internal_area_incomplete? %>
          <li>
            <%= link_to t('facilities_management.rm3830.procurement_buildings.show.gia_error'), "#service_volumes", data: { turbolinks: false } %>
          </li>
        <% elsif external_area_incomplete? %>
          <li>
            <%= link_to t('facilities_management.rm3830.procurement_buildings.show.external_area_error'), "#service_volumes", data: { turbolinks: false } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
