<div class="procurement">
  <div class="services chooser-component <%= "govuk-form-group--error" if @procurement.errors[:service_codes].any? %>">
    <div id="ccs-dynamic-accordian" class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-top-0">All services</h1>
        <% content_for :page_title, 'All services' %>
        <%= render partial: 'service_codes_checkboxes', locals: { heading: t('.question'), subtitle: t('.subtitle_html'), service_specification_doc: t('.service_specification_doc')} %>
      </div>
      <%= render partial: 'service_codes_basket' %>
    </div>
  </div>
</div>
