<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd|%>
    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title govuk-!-font-size-36">
            You have declined this contract offer
        </h1>
        <div class="govuk-panel__body govuk-!-font-size-27">
            Contract name: <%= @page_data[:contract_name]%> <br> 
            Contract number: <%= @page_data[:contract_number]%>
        </div>
    </div>

    <div class="govuk-body govuk-!-width-three-quarters govuk-!-margin-bottom-9">
        For reference, this contract offer will be viewable only in the closed section of your dashboard.
    </div>

    <%= link_to pd.navigation_details.secondary_text, pd.navigation_details.secondary_url, class: 'govuk-button govuk-button--secondary govuk-!-margin-top-9' %>

<% end %>