<%= content_for :page_title, t(".heading") %>
<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl"><%= t(".heading") %></h1>

      <p><%= t('.cmp_support_email_html', link: support_email_link(t('.cmp_support_aria_label'))) %></p>

      <p>
        <%= link_to 'Sign in with Cognito', local_session_path, role: 'button', class: 'govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8' %>
      </p>
    </div>
  </div>
</div>
