<%= content_for :page_title, t(".heading") %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>

    <p class="govuk-body-l">
      <%= t('.lead') %>
    </p>

    <%= govuk_button(t('common.sign_in'), href: new_user_session_path, classes: 'govuk-!-padding-left-7 govuk-!-padding-right-7') %>
  </div>
</div>
