<a href="<%= request.referer %>" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="" method="">

      <div id="fm-contract-date-form-group-error-container" class="govuk-form-group">
        <fieldset class="govuk-fieldset govuk-!-padding-bottom-8 govuk-!-margin-bottom-8" aria-describedby="start-hint" role="group">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-padding-bottom-1">
            <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-xl">
                                About your contract <span class="ccs-remove">: </span>
                            </span>
              When do you need the service to start?
            </h1>
          </legend>

          <span id="start-hint" class="govuk-hint">
                        For example, <time datetime="2025-09-28">28 09 2025, and must not be in the past</time>
                    </span>

          <span id="fm-contract-start-error-message" class="govuk-error-message govuk-visually-hidden">
                        <span class="govuk-visually-hidden">Error:</span> An invalid date has been entered, please enter a valid date
                    </span>

          <div class="govuk-date-input govuk-!-padding-top-3" id="start-date">

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="day" name="day" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="month" name="month" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="year" name="year" type="number" pattern="[0-9]*">
              </div>
            </div>

          </div>

        </fieldset>
      </div>
    </form>
  </div>
</div>

<a role='button' class='govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8' id='fm-save-contract-start-date-link'>Continue</a>
