<%= render 'layouts/logo' %>
<div class="govuk-header__content">
  <%= render 'layouts/admin/header-title', service: 'admin_account', path: facilities_management_admin_start_path %>
  <nav>
    <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
      <%= render 'layouts/admin/header-dashboard-link', admin_dashboard_path: facilities_management_beta_admin_path %>
      <%= render 'layouts/sign-out-link', sign_out_path: facilities_management_beta_admin_destroy_user_session_path %>
    </ul>
  </nav>
</div>
