<h1 class="govuk-heading-m govuk-!-margin-bottom-4">
    Call-off contract documents
</h1>
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4">
<div class="govuk-row">
    <span>
        <%= image_tag('zip_image.png', :alt => 'download zip file', width: '60px') %>
    </span>
    <span>
        <%= link_to 'Download Call-off contract', '#', class: 'govuk-!-font-size-24 govuk-link govuk-link--no-visited-state' %><br/>
        <p class="govuk-hint">Created <%= @page_data[:call_off_documents_creation_date]&.strftime '%A %e %B %Y, %l:%M%P' %></p>
    </span>
</div>
<hr class="govuk-section-break govuk-section-break--visible">