<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd|  %>
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
      Accepted
  </strong>
  <strong class="govuk-warning-text__text">
    Awaiting buyer confirmation of signed contract.
  </strong>
  <div class="govuk-inset-text">
  You accepted this contract offer on <%= %>. </br>
  This contract offer was received on <%= %>. 
  </div>
</div>
        <%= render partial: 'procurement_requirements' %>
    
  <div>
    <th class="govuk-table__cell">What happens next</th>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </div>
<% end %>