
input[type=radio] + label + div#radio-inner-content {
  visibility: hidden;
}

input[type=radio]:checked + label + div#radio-inner-content {
  visibility: visible;
  border-left: solid;
  border-left-color: #BFC1C3;
  border-left-width: 4px;
  height: auto;
  position: relative;
  left: -20px;
}

.radio-inner-content {
  height: 0px;
}
