.building-services {
  .govuk-summary-list__value, .govuk-summary-list__actions {
    vertical-align: middle;
  }

  .border-top {
    border-top: 1px solid #bfc1c3;
  }
}

.procurement-building-service .procurement-building-service__form-group {
  border-bottom: 1px solid #bfc1c3;
}

.procurement-building-service .border-top {
  border-top: 1px solid #bfc1c3;
}