<%= warning_text(warning_title) %>
<h2 class="govuk-heading-s <%= 'govuk-!-width-two-thirds' if @contract.aasm_state == 'expired' || (@contract.closed? && @contract.last_offer?) || (@contract.closed? && @contract.reason_for_closing.nil?) %>">
    <%= warning_message %>
</h2>