<% if nested_attributes.select{|na| na.errors.any?}.any? %>

  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      <%= t("common.error_summary_title") %>
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% nested_attributes.each do |nested_attr| %>
          <% nested_attr.errors.attribute_names.each do |attribute| %>
            <li>
              <%= link_to "#{nested_attr.errors[attribute].first}", "##{error_id(nested_attr.id)}", data: { turbolinks: false, fieldname: attribute, errortype: get_client_side_error_type_from_errors(nested_attr.errors, attribute).to_s } %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>