<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl"><%= t(".#{permission_required.to_s}.title") %></h1>

      <p><%= t(".#{permission_required.to_s}.details") %></p>
    </div>
  </div>
</div>
