<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m"><%= t('.errors_with_upload') %></h2>
    <p>
      <%= t('.below_is_a_list') %>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= govuk_table(
      [
        {
          text: t('.issue'),
          classes: 'govuk-!-width-one-quarter'
        },
        {
          text: t('.details')
        }
      ],
      @upload.import_errors.map do |error|
        [
          {
            text: t(".error_name.#{error[:error]}")
          },
          {
            text: error[:details] ? get_admin_upload_error_details(error[:error], error[:details]) : t(".error_details.#{error[:error]}")
          }
        ]
      end
    ) %>
  </div>
</div>