<table class="govuk-table govuk-!-width-three-quarters">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="45%"></th>
                    <td class="govuk-table__cell" width="55%"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__cell govuk-table__header"><%= t('.buyer') %></th>
                    <td class="govuk-table__cell"><%= @procurement.user.buyer_detail.organisation_name %></td>
                </tr>