    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            <a href="/" class="govuk-heading-s govuk-link--no-visited-state ccs-no-underline">
                <%= result[:name] %> 
            </a>
            <b><%= t('apprenticeships.home.supplier_search.result_ofsted_label') %>:</b> 2 - Good
        </td>
        <td class="govuk-table__cell">
            <span class="govuk-!-font-size-19">
                <b><span>xx</span> <%= t('apprenticeships.home.supplier_search.providers_label') %></b>
            </span>
        </td>
    </tr>
