<%= content_for :page_section, t('requirements.page_section') %>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

 <p class="govuk-heading-s"><%= t('Do you know the apprenticeship standard that you would like training for ?') %></p>
 <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name-1">
                Yes
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
	         No
        </label>
      </div>
</div>
<br/>
 <%= link_to t('.Continue'), journey_start_path(journey: SupplyTeachers::Journey.journey_name), role: 'button', class: 'govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8', 'aria-label': t('.Continue') %>
