<%= content_for :page_section, t('requirements.page_section') %>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="find_apprentices3" method="">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-font-weight-bold">
              <h1 class="govuk-fieldset__heading"> 
                <%= t('.find_2_legend') %>
              </h1>
            </legend>
            <div class="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ap-have-das-1" name="ap-have-das" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="ap-have-das-1">
                        Yes
                </label>              
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ap-have-das-2" name="ap-have-das" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="ap-have-das-2">
                  No
                </label>
              </div>

            </div>

          </fieldset>
        </div> 

        <%= render 'layouts/submit-btn', text: t('common.continue')%>

      </form>

    </div>
  </div>  
