<%= content_for :page_title, t('.header') %>
<div class="govuk-body">
  <div class="govuk-grid-row govuk-!-padding-left-3">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-l"><%= @current_login_email %></span>
      <%= t('.header') %>
    </h1>
  </div>
</div>
