<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
<h1 class="govuk-heading-xl">Cookies</h1>

<p>The Crown Commercial Service (CCS) puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site.</p>

<p>Cookies are used to:</p>

<ul>
<li>measure how you use the website so it can be updated and improved based on your needs</li>
</ul>

<p>Find out more about <a href="https://ico.org.uk/your-data-matters/online/cookies/">how to manage cookies.</a></p>

<h2>How cookies are used on the CCS marketplace</h2> 

<h3>Managing your access and experience</h3>

<p>We use cookies to provide you with a better website experience, manage access/use of the system and provide you with features and functionality. For instance, we use cookies to ensure you’re accessing the system from a trusted computer, and that you see features and information relevant to you.</p>

<table>
<tr>
<th>Name</th><th>Purpose</th><th>Expires</th>
</tr>
<tr>
<td>_marketplace_session</td><td>We use this cookie to keep track of what we’ve shown you. It remembers your interactions, so you don’t have to repeat them.</td><td>When you close your browser</td>
</tr>
</table>

<h3>Measuring website usage (Google Analytics)</h3>

<p>We use Google Analytics software to collect information about how you use CCS. We do this to help make sure the site is meeting the needs of its users and to help us make improvements, eg improving site search.</p>

<p>Google Analytics stores information about:</p>

<ul>
<li>the pages you visit on CCS</li>
<li>how long you spend on each CCS page</li>
<li>how you got to the site</li>
<li>what you click on while you’re visiting the site</li>
<li>We don’t collect or store your personal information (eg your name or address) so this information can’t be used to identify who you are.</li>
</ul>

<p>We don’t allow Google to use or share our analytics data.</p>

<p>Google Analytics sets the following cookies:</p>

<h3>Universal Analytics</h3>

<table>
<tr>
<th>Name</th><th>Purpose</th><th>Expires</th>
</tr>
<tr>
<td>_ga</td><td>This helps us count how many people visit CCS by tracking if you’ve visited before</td><td>2 years</td>
</tr>
<tr>
<td>_gat</td><td>Used to manage the rate at which page view requests are made</td><td>10 minutes</td>
</tr>
<tr>
<td>_gid</td><td>Used to understand how pages are linked together</td><td>1 day</td>
</tr>
</table>

<h3>Google Analytics</h3>

<table>
<thead>
<tr>
<th>Name</th><th>Purpose</th><th>Expires</th>
</tr>
</thead>
<tr>
<td>_utma</td><td>Like _ga, this lets us know if you’ve visited before, so we can count how many of our visitors are new to CCS or to a certain page</td><td>2 years</td>
</tr>
<tr>
<td>_utmb</td><td>This works with _utmc to calculate the average length of time you spend on CCS</td><td>30 minutes</td>
</tr>
<tr>
<td>_utmc</td><td>This works with _utmb to calculate when you close your browser</td><td>when you close your browser</td>
</tr>
<tr>
<td>_utmz</td><td>This tells us how you reached CCS (eg from another website or a search engine)</td><td>6 months</td>
</tr>
</table>

<p>You can <a href="https://tools.google.com/dlpage/gaoptout">opt-out of Google Analytics</a></p>

<h3>Other services</h3>

<p>This policy is for CCS only. When you go to a service run by a different organisation, they may have their own cookies policy.</p>
</div>
</div>
</div>
