<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Find a facilities management supplier</h1>

      <div>
        <table>
          <thead>
            <tr>
              <th>Lot Number</th>
              <th>Lot Name</th>
							<th>Number of suppliers</th>
            </tr>
          </thead>
          <tbody>
						<tr>
              <td>1a</td>
              <td>Total contract value up to &pound;7M</td>
							<td>27</td>
              <td>
                              <a href="https://ccs-agreements.cabinetoffice.gov.uk/suppliers?sm_field_contract_id=%22RM3830%3A1a%22" title="View suppliers">click here to view suppliers</a>
                             </td>
            </tr>
                        <tr>
              <td>1b</td>
              <td>Total contract value &pound;7M - &pound;50M</td>
							<td>34</td>
              <td>
                              <a href="https://ccs-agreements.cabinetoffice.gov.uk/suppliers?sm_field_contract_id=%22RM3830%3A1b%22" title="View suppliers">click here to view suppliers</a>
                             </td>
            </tr>
                        <tr>
              <td>1c</td>
              <td>Total contract value &pound;50M+</td>
							<td>20</td>
              <td>
                              <a href="https://ccs-agreements.cabinetoffice.gov.uk/suppliers?sm_field_contract_id=%22RM3830%3A1c%22" title="View suppliers">click here to view suppliers</a>
                             </td>
            </tr>
                      </tbody>
        </table>




    </div>
  </div>
</div>
