<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">CCS Marketplace private beta</h1>

      <p>This service is currently restricted. Please contact <a href="mailto:">Julia Kondor</a> at CCS if you have not received credentials.</p>

      <%= link_to 'Log in with beta credentials', login_path, role: 'button', class: 'govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8' %>

    </div>
  </div>
</div>
