    <div class="ccs-landing-pg-content">

      <div class="govuk-grid-row govuk-!-margin-top-2 govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">Crown Marketplace</h1>

          <p class="govuk-body govuk-!-font-size-27">Public sector organisations can find approved suppliers of goods, services and people in a compliant and efficient way</p>

        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">
            <a href="https://marketplace.service.crowncommercial.gov.uk/supply-teachers" class="govuk-link--no-visited-state ccs-no-underline">Find supply teachers and agency workers</a>
          </h2>

          <p class="govuk-body govuk-!-padding-left-6">Includes agencies and other organisations that provide supply teachers in England</p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">
            <a href="https://marketplace.service.crowncommercial.gov.uk/facilities_management " class="govuk-link--no-visited-state ccs-no-underline">Find facilities management services</a>
          </h2>

          <p class="govuk-body govuk-!-padding-left-6">Procure services such as maintenance, cleaning, helpdesk and security</p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">
            <a href="https://marketplace.service.crowncommercial.gov.uk/apprenticeship_training" class="govuk-link--no-visited-state ccs-no-underline">Find apprenticeship training providers</a>
          </h2>

          <p class="govuk-body govuk-!-padding-left-6">Get a list of providers that can train apprentices in your area</p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">
            <a href="https://marketplace.service.crowncommercial.gov.uk/management_consultancy" class="govuk-link--no-visited-state ccs-no-underline">Find management consultancy services</a>
          </h2>

          <p class="govuk-body govuk-!-padding-left-6">Includes consultants in finance, HR and digital technologies</p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">
            <a href="https://marketplace.service.crowncommercial.gov.uk/legal_services" class="govuk-link--no-visited-state ccs-no-underline">Find legal services</a>
          </h2>

          <p class="govuk-body govuk-!-padding-left-6">Includes legal services in property, employment and tax law</p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">
            <a href="https://travel.crowncommercial.gov.uk/" class="govuk-link--no-visited-state ccs-no-underline">Book travel</a>
          </h2>

          <p class="govuk-body govuk-!-padding-left-6">Find and book accommodation, air and rail travel from approved providers</p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>
      </div>

      <!--div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">
            <a href="#" class="govuk-link--no-visited-state ccs-no-underline">Gov Switch</a>
          </h2>

          <p class="govuk-body govuk-!-padding-left-6">Government departments can switch gas, electricity and water supplier</p>


          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>
      </div-->

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">
            <a href="https://schoolswitch.crowncommercial.gov.uk" class="govuk-link--no-visited-state ccs-no-underline">School Switch</a>
          </h2>

          <p class="govuk-body govuk-!-padding-left-6">Schools and academies can switch utility suppliers, such as gas and electricity</p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>
      </div>      

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">
            <a href="https://fleetportal.crowncommercial.gov.uk/" class="govuk-link--no-visited-state ccs-no-underline">Fleet Portal</a>
          </h2>

          <p class="govuk-body govuk-!-padding-left-6">Find suppliers to lease or buy vehicles from</p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>
      </div>

    </div>
