<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Find management consultancy services</h1>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>find a list of suppliers providing management consultancy services</li>
      </ul>

      <%= link_to 'Start now', 'https://ccs-agreements.cabinetoffice.gov.uk/suppliers?sm_field_contract_id=RM6008*', role: 'button', class: 'govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8' %>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>To use the service, you will need to have:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>TBD</li>
      </ul>

    </div>
  </div>
</div>
