<%= warning_text(FacilitiesManagement::Supplier::ContractsHelper::WARNINGS[@contract.aasm_state.to_sym]) %>
<h2 class="govuk-heading-s <%= 'govuk-!-width-two-thirds' unless  @contract.aasm_state == "not_signed" %>">
    <%= warning_message.html_safe %>
</h2>
