<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        <%= FacilitiesManagement::Supplier::ContractsHelper::WARNINGS[@contract.aasm_state.to_sym] %>
    </strong>
</div>
<h2 class="govuk-heading-s <%= 'govuk-!-width-two-thirds' unless  @contract.aasm_state == "not_signed" %>">
    <%= warning_message.html_safe %>
</h2>
