
<%= render 'layouts/logo' %>

<div class="govuk-header__content">
  <%= render 'layouts/header-title', service: 'legal_services', path: legal_services_path %>

  <nav>
    <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
      <% unless landing_or_admin_page || not_permitted_page %>
        <li class="govuk-header__navigation-item">
          <%= link_to 'Back to start', legal_services_path, class: 'govuk-header__link' %>
        </li>
      <% end %>

      <% if user_signed_in? %>
        <li class="govuk-header__navigation-item">
          <%= link_to 'Sign out', legal_services_destroy_user_session_path, method: :delete, class: 'govuk-header__link ccs-header__signout' %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
