.service-specification {
  p.service-specification-number {
    float: left;
    width: 10%;
    margin-right: 10px;
  }

  p.service-specification-indent-0 { margin-left: 0 }
  p.service-specification-indent-1 { margin-left: 2em }
  p.service-specification-indent-2 { margin-left: 4em }
  p.service-specification-indent-3 { margin-left: 6em }

  p.service-specification-body {
    float: left;
    width: 80%;
  }
}