<% if errors.any? %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% errors.keys.each do |attribute| %>
          <li>
            <a href="<%= "##{attribute}-error" %>"><%= errors[attribute].first %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
