.mc-supplier-record {
  padding-bottom: 10px;
}

.mc-supplier-record__supplier-name {
  margin-bottom: 5px;
  font-weight: $govuk-font-weight-semi-bold;
}

.mc-supplier-record__services-title {
  font-weight: $govuk-font-weight-semi-bold;
}

.mc-supplier-record__contact-name {
  margin-bottom: 5px;
  font-weight: $govuk-font-weight-semi-bold;
}

.mc-supplier-record__contact-item {
	margin-bottom: 5px;
}
