.ccs-logo__dfe p {
  margin-bottom: 10px;
}

.ccs-logo__dfe {
  margin-bottom: 30px;
}

.ccs-logo {
  display: inline-block;

  // Prevent readability backplate from obscuring underline in Windows High
  // Contrast Mode
  @media (forced-colors: active) {
    forced-color-adjust: none;
    color: linktext;
  }
}

.ccs-logo__svg {
  position: relative;
  top: -1px;
  margin-right: 1px;
  fill: currentcolor;
  vertical-align: top;
}

.ccs-logo__fallback-image {
  width: 36px;
  height: 32px;
  border: 0;
  vertical-align: bottom;
}

@include govuk-media-query($media-type: print) {
  // Hide the inverted crown when printing in browsers that don't support SVG.
  .ccs-logo__fallback-image {
    display: none;
  }
}
