.js-enabled .govuk-accordion__section-button {

  padding: 0px;

  margin-top: 15px;
  padding-bottom: 0;
  padding-left: 0;

  &:hover:not(:focus) {
    text-decoration: underline;
  }

  &:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
  }
}

.js-enabled .govuk-accordion__open-all {

  &:hover, &:active, &:focus {
    color: #003078;
  }

  &:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
  }
}
