<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="date-hint">
    <div class="govuk-date-input" id="date-input">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="day">
            Day
          </label>
          <input readonly class="govuk-input govuk-date-input__input govuk-input--width-2 fm-read-only-date-field" id="day" name="day" type="number" pattern="[0-9]*">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="month">
            Month
          </label>
          <input readonly class="govuk-input govuk-date-input__input govuk-input--width-2 fm-read-only-date-field" id="month" name="month" type="number" pattern="[0-9]*">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="year">
            Year
          </label>
          <input readonly class="govuk-input govuk-date-input__input govuk-input--width-4 fm-read-only-date-field" id="year" name="year" type="number" pattern="[0-9]*">
        </div>
      </div>
    </div>
  </fieldset>
</div>
