

<div class="govuk-radios govuk-radios">
  <div class="govuk-radios__item">
    <%= f.radio_button :tupe, true, :checked => true, class: "govuk-radios__input" %>
    <%= label :tupe, 'Yes', class: 'govuk-label govuk-radios__label' %>
  </div>
  <div class="govuk-radios__item">
    <%= f.radio_button :tupe, false, class: 'govuk-radios__input' %>
    <%= label :tupe, 'No', class: "govuk-label govuk-radios__label" %>
  </div>
</div>


