<div class="service-specification">
  <% if clause[:number].blank? %>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= clause[:body] %></h3>
  <% else %>
    <p class="service-specification-number service-specification-indent-<%= clause[:number].split('.').size-2 %>">
      <%= clause[:number] %>
    </p>
    <p class="service-specification-body"><%= clause[:body] %></p>
  <% end %>

  <div class="govuk-clearfix"></div>
</div>
