@import "govuk-frontend/components/checkboxes/checkboxes";

.govuk-checkboxes__input:focus+.govuk-checkboxes__label:before {
	border-width: 4px;
	box-shadow: 0 0 0 3px #fd0
}

.govuk-checkboxes--small .govuk-checkboxes__item:hover .govuk-checkboxes__input:focus+.govuk-checkboxes__label:before {
	box-shadow: 0 0 0 3px #fd0, 0 0 0 10px #b1b4b6
}

@media (hover:none),
(pointer:coarse) {
	.govuk-checkboxes--small .govuk-checkboxes__item:hover .govuk-checkboxes__input:focus+.govuk-checkboxes__label:before {
		box-shadow: 0 0 0 3px #fd0
	}
}