ul.CSS-pagination-txt {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  width: 100%;
  margin-top: 2.5rem;
  padding-top: 1.875rem;
  list-style: none;
  li {
    color: #6F777B;
  }
  & .active {
    text-decoration: none;
  }
  .prev {
    margin-right: auto;
  }
  .next {
    margin-left: auto;
  }
}