<h2 class="govuk-heading-m govuk-!-margin-0">Expected contract length</h2>
<span class="govuk-caption-m">Enter the contract's initial period(excluding extentions). This can't be more than 7 years.</span>

<div id="fm-contract-length-error-form-group" class="govuk-form-group">
  <span id="fm-contract-length-error" class="govuk-error-message govuk-visually-hidden">
      <span class="govuk-visually-hidden">Error:</span> The contract length should be between 1 and 7 years
    </span>
  <span><input type="number" min="1" max="7" maxlength="1" class="govuk-input fm-contract-length-input" id="fm-contract-length" name="fm-contract-length" type="text">
    <label class="govuk-label" for="fm-contract-length">years</label></span>
</div>
