

<div id="fm-contract-extension-error-form-group" class="govuk-form-group">
  <span id="fm-contract-extension-error" class="govuk-error-message govuk-visually-hidden">
      <span class="govuk-visually-hidden">Error:</span> todo put some error message here
    </span>
</div>


<div id="fm-contract-extension-error-form-group" class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h2 class="govuk-heading-m govuk-!-margin-0">Are you adding any extensions to your contract?</h2>
      <span class="govuk-heading-s govuk-!-margin-bottom-0">You should use this format: Extention 1 (how many years?)</span>
      <span class="govuk-caption-m">eg Extension 1....1 year</span>
      <span class="govuk-caption-m">Contracts, including extensions, can't last for more than 10 years?</span>
    </legend>
    <div class="govuk-radios govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contract-extension-1" name="contract-extension-radio" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="contract-extension-1">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contract-extension-1" name="contract-extension-radio" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="contract-extension-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>