<div id="fm-contract-extension-error-form-group" class="govuk-form-group">
  <span id="fm-contract-extension-error" class="govuk-error-message govuk-visually-hidden">
      <span class="govuk-visually-hidden">Error:</span> todo put some error message here
    </span>
</div>


<div id="fm-contract-extension-error-form-group" class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h2 class="govuk-heading-m govuk-!-margin-0">Are you adding any extensions to your contract?</h2>
      <span class="govuk-heading-s govuk-!-margin-bottom-0">You should use this format: Extention 1 (how many years?)</span>
      <span class="govuk-caption-m">eg Extension 1....1 year</span>
      <span class="govuk-caption-m">Contracts, including extensions, can't last for more than 10 years?</span>
    </legend>
    <div class="govuk-radios govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="fm-contract-extension-yes" name="contract-extension-radio" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="fm-contract-extension-yes">
          Yes
        </label>
        <div id="fm-contract-yes-container" name="fm-extension-container" hidden>
          <div id="fm-extensions" class="govuk-details__text">
            <div id="fm-extension-1-container">
              <div id="fm-extension-1-error" hidden>
                <span class="govuk-error-message">This field can not be empty and contracts, including extensions, must be 10 years or less</span>
              </div>
              <input class="govuk-!-margin-bottom-0" id="fm-extension-1" name="fm-extension" type="number" placeholder="Extension 1"/>
            </div>
          </div>
          <div>
            <a class="govuk-link govuk-link--no-visited-state" id="fm-add-another-extension-link" role="button" href="">+ Add another
              (<span id="fm-remaining-extension-count"></span><span> remaining)</span></a>
          </div>
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" checked id="fm-contract-extension-no" name="contract-extension-radio" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="fm-contract-extension-no">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>
