$ccs_footer_bg: ccs-colour("dark-grey");
$ccs_footer_fg: govuk-colour("white");

.govuk-footer {
  background-color: $ccs_footer_bg;
  color: $ccs_footer_fg;
}

.govuk-footer__link {
  &:not(:focus) {
    color: $ccs_footer_fg;
  }
}

.footer-feedback {
  background-color: govuk-colour("light-grey");
}
