@import "govuk-frontend/components/footer/footer";

$ccs_footer_bg: govuk-colour("dark-grey");
$ccs_footer_fg: govuk-colour("white");

.govuk-template {
  background-color: govuk-colour("white");
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}

.content-except-footer {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

a.ccs-footer__links {
  background: none;
  border: 0;
  box-shadow: none;
  font-family: $govuk-font-family;
  font-weight: $govuk-font-weight-regular;
  color: #FFF;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: 3px solid govuk-colour("yellow");
    outline-offset: 0;
  }
}

.govuk-footer {
  background-color: $ccs_footer_bg;
  color: $ccs_footer_fg;
  padding: 0;
  border-top: none;
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

.govuk-footer__meta {
  justify-content: flex-start;
}

.govuk-footer__meta-item {
  margin-top: 15px;
}

.govuk-footer__container {
  padding: 15px 0;
}

.govuk-footer__logotype svg {
  width: 110px;
  height: 90px;
}

.footer-feedback {
  background-color: govuk-colour("grey-5");
}

@media (min-width: 641px) {

  .govuk-footer__logotype svg {
    width: 140px;
  }

  .govuk-footer__logotype svg,
  .govuk-footer__meta {
    height: 113px;
  }

  .govuk-footer__meta {
    justify-content: flex-end;
  }

  .govuk-footer__meta-item {
    margin-top: 0;
    margin-bottom: 0;
  }

  .govuk-footer__container {
    padding: 30px 0;
  }
}

@media print {
  .ccs-no-print {
    display: none;
  }

  .ccs-logotype image {
    filter: invert(100%);
  }

  .govuk-header, .govuk-footer {
    color: black;
    background: none;
  }
}
