<h1 class="govuk-grid-row govuk-heading-xl">Contract period</h1>
<div class="govuk-grid-row contract-dates">
  <div class="">
    <%= render partial: 'initial_call_off_period', locals: { f: f } %>
  </div>

  <div class="">
    <%= render partial: 'mobilisation_period', locals: { f: f } %>
  </div>

  <div class="">
    <%= render partial: 'call_off_extensions', locals: { f: f } %>
  </div>
</div>