<div class="govuk-form-group">
  <h1 class="govuk-heading-xl">Contract period</h1>
  <div class="contract-dates">
    <%= render partial: 'initial_call_off_period', locals: { f: f } %>
    <%= render partial: 'mobilisation_period', locals: { f: f } %>
    <%= render partial: 'call_off_extensions', locals: { f: f } %>
  </div>
</div>