<div>
  <h1>Lot <%= @lot.number %> suppliers</h1>
  <p><%= contract_value_range_text(@lot.number) %></p>
  <p><%= pluralize(@suppliers.count, 'supplier') %></p>
  <%= render partial: 'supplier', collection: @suppliers, locals: { lot_number: @lot.number } %>
  <% if @lot.direct_award_possible? %>
    <p>Direct award to a single supplier may be an option if your maximum spend is under £1.5 million.</p>
  <% end %>
</div>
