<p class="govuk-body govuk-!-width-three-quarters govuk-!-font-size-24"><%= t('.contract_details_description') %></p>
<%= render partial: 'facilities_management/procurements/contract_details/da_journey/summary_pages/contract_details_summary' %>
