<details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      <%= procurement_building.name %>
    </span>
  </summary>
  <div class="govuk-details__text govuk-!-padding-0">
    <ul class="govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-7">
      <% procurement_building.service_codes.each do |service_code| %>
        <li class="govuk-!-margin-top-2 govuk-!-margin-bottom-2"><%= @services.select{|s| s['code'] == service_code}.first['name'] %></li>
      <% end %>
    </ul>
  </div>
</details>