<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Buyer account</span>
      <span class="govuk-heading-xl"><%= @current_login_email %></span>
      <span class="govuk-heading-m govuk-!-margin-0">Procurements</span>
    </div>
  </div>
  <hr class="govuk-!-margin-bottom-5">
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-third">
      <div class="fm-buyer-account-panel">
        <a id="fm-start-new-procurement-link" class="fm-buyer-account-panel__title">Start a new procurement</a>
        <p class="fm-buyer-account-panel__body">
          Quick search for suppliers or create a new procurement
        </p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="fm-buyer-account-panel">
        <a id="fm-manage-procurements-link" class="fm-buyer-account-panel__title">Manage procurements</a>
        <p class="fm-buyer-account-panel__body">
          See a list of your search results and procurements
        </p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-1">Buildings</span>
    </div>
  </div>
  <hr class="govuk-!-margin-bottom-5">
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-third">
      <div class="fm-buyer-account-panel">
        <a id="fm-start-new-procurement-link" class="fm-buyer-account-panel__title">Manage buildings</a>
        <p class="fm-buyer-account-panel__body">
          Create and manage your buildings used in your procurements
        </p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-third">
      <span class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-1">Manage your CCS account</span>
      <a id="fm-manage-procurements-link" class="fm-buyer-account-panel__title">Change contact details</a>
    </div>
  </div>

</div>