<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Buyer account</span>
      <span class="govuk-heading-xl"><%= @current_login_email %></span>

      <span class="govuk-heading-m">Procurements</span>
    </div>
  </div>
</div>