<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Buy or find Facilities Management services
      </h1>

      <p>Use this tool to to find suppliers for facilities management services, for one or more locations.</p>

      <p>Use this tool to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>find suppliers who deliver FM services to one or more locations</li>
        <li>buy FM services such as cleaning, landscaping and building repair work</li>
        <li>filter/order/sort suppliers by price</li>
      </ul>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>To use the service, you will need to know:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the region and locations of your facilities/buildings</li>
        <li>your current or an estimated value for all [facilities management services] buildings
        </li>
      </ul>

      <p>
        <%= link_to 'Start now', '/facilities-management/select-locations', role: 'button', class: 'govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8' %>
      </p>

    </div>
  </div>
</div>
<script type="application/javascript">
    if (localStorage) {
        localStorage.clear();
    }

    if (sessionStorage) {
        sessionStorage.clear();
    }
</script>