<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Find Facilities Management services
      </h1>

      <h2 class="govuk-heading-s">Use this tool to:</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>find a supplier for your facilities management requirements</li>
        <li>see a shortlist of suppliers available in your region</li>
        <li>download a spreadsheet with your requirements and list of potential suppliers</li>
      </ul>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-heading-s">You need to know:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>what services you are looking for</li>
        <li>building locations and information</li>
        <li>details of how long you want the services for</li>
      </ul>

      <p>
        <%= link_to 'Start now', '/facilities-management/select-locations', role: 'button', class: 'govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8' %>
      </p>

    </div>
  </div>
</div>
<script type="application/javascript">
    if (localStorage) {
        localStorage.clear();
    }

    if (sessionStorage) {
        sessionStorage.clear();
    }
</script>