<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="" method="">

            <div class="govuk-form-group ccs-titles-checkboxes">
                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-font-weight-bold">
                        <h1 class="govuk-fieldset__heading">
                            Which area of your organisation needs advice?
                        </h1>
                    </legend>

                    <div class="govuk-radios">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="advice-01" name="advice" type="radio" value="a-01">
                            <label class="govuk-label govuk-radios__label" for="advice-01">
                                Audit (MCF Lot 3)
                            </label>

                            <details class="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Audit services
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <ul class="govuk-list">
                                        <li>Accounting advice and risk</li>
                                        <li>Acquisition finance solutions</li>
                                        <li>Asset financial management including valuation, sales and disposals</li>
                                        <li>Business analysis</li>
                                        <li>Capital fund raising, derivatives and hedging</li>
                                        <li>Cash management</li>
                                        <li>Commercial benefits</li>
                                        <li>Competition policy</li>
                                        <li>Complex cost benefit studies and analysis</li>
                                        <li>Corporate restructuring and flotation</li>
                                    </ul>
                                </div>
                            </details>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="advice-01" name="advice" type="radio" value="a-01" checked="checked">
                            <label class="govuk-label govuk-radios__label" for="advice-01">
                                Finance (MCF Lot 2)
                            </label>

                            <details class="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Finance services
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <ul class="govuk-list">
                                        <li>Accounting advice and risk</li>
                                        <li>Acquisition finance solutions</li>
                                        <li>Asset financial management including valuation, sales and disposals</li>
                                        <li>Business analysis</li>
                                        <li>Capital fund raising, derivatives and hedging</li>
                                        <li>Cash management</li>
                                        <li>Commercial benefits</li>
                                        <li>Competition policy</li>
                                        <li>Complex cost benefit studies and analysis</li>
                                        <li>Corporate restructuring and flotation</li>
                                    </ul>
                                </div>
                            </details>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="advice-03" name="advice" type="radio" value="a-03">
                            <label class="govuk-label govuk-radios__label" for="advice-03">
                                Health and Community (MCF Lot 5)
                            </label>

                            <details class="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Health and community services
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <ul class="govuk-list">
                                        <li>Accounting advice and risk</li>
                                        <li>Acquisition finance solutions</li>
                                        <li>Asset financial management including valuation, sales and disposals</li>
                                        <li>Business analysis</li>
                                        <li>Capital fund raising, derivatives and hedging</li>
                                        <li>Cash management</li>
                                        <li>Commercial benefits</li>
                                        <li>Competition policy</li>
                                        <li>Complex cost benefit studies and analysis</li>
                                        <li>Corporate restructuring and flotation</li>
                                    </ul>
                                </div>
                            </details>
                        </div>

                    </div>

                </fieldset>
            </div>

            <%= submit_tag t('common.submit'), class: "govuk-button" %>

        </form>
    </div>
</div>
