<div id="fm-lot-1b-list" class="govuk-grid-column-one-third">
  <span class="govuk-heading-m css-fm-lot-headings lot-list">between<br /> £7m-50m</span>
  <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Sub-lot 1b</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @suppliers_lot1b.each do |supplier| %>
        <tr>
          <td class="govuk-table__cell">
            <span><%= supplier['name'] %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
