<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters govuk-body-l">
    <%= t('.description')%>
  </div>
  <div class="govuk-grid-column-three-quarters govuk-body-m">
    <%= t('.generic_message')%>
  </div>
  <div class="govuk-grid-column-three-quarters govuk-body-m">
    <%= t('.what_next')%>
  </div>
</div>

