  <p>Something went wrong. Please try again</p>
  <%= link_to t('.procurement_link'), facilities_management_rm3830_procurement_path(@spreadsheet_import.procurement), class: 'govuk-link govuk-!-font-size-19 govuk-!-margin-top-4' %>
