<%= link_to t('.return_to_upload'), new_facilities_management_rm3830_procurement_spreadsheet_import_path(@spreadsheet_import.procurement), class: 'govuk-back-link govuk-!-margin-bottom-6' %>

<%= govuk_page_header(FacilitiesManagement::PageDetail::Heading.new(t('.heading'), @procurement.contract_name, nil, nil, nil)) %>
<% content_for :page_title, "#{t('.heading')}, #{@spreadsheet_import.state_to_string[1].downcase}"  %>

<div class="ccs-font-weight-semi-bold govuk-body">
  Status: <%= govuk_tag_with_text(*@spreadsheet_import.state_to_string) %>
</div>

<%= render partial: @spreadsheet_import.aasm_state %>
