<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>

    <p class="govuk-body-l">
      <%= t('.lead') %>
    </p>

    <%= link_to t('common.sign_in'), management_consultancy_gateway_path, id: "submit", class: "govuk-button govuk-!-padding-left-7 govuk-!-padding-right-7" %>

  </div>
</div>
