<p>
  <%= t('.contact_ccs') %>
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <%= t('.email')%>
    <%= footer_email_link(t('layouts.application.support_link_aria_label')) %>
  </li>
  <li>
    <%= "#{t('.call')} #{support_telephone_number}"%>
  </li>
</ul>
