<%= render('facilities_management/beta/procurements/shared/backlink_header') %>

<div class="govuk-grid-row">
  <p class="govuk-heading-l">You need to add buildings in which you want the services to be delivered.</p>
  <p class="govuk-heading-s">Buildings can be added in your 'manage buildings' area.</p>
</div>
<div class="govuk-grid-row govuk-!-margin-top-9">
  <%= link_to 'Go to manage buildings', 'buildings-management', class: 'govuk-button' %>
  <%= link_to 'Return to manage procurements', facilities_management_beta_procurements_path, class: 'govuk-button govuk-button--secondary govuk-!-margin-left-3' %>
</div>