<hr class="govuk-section-break govuk-section-break--visible">
<table class="govuk-table ">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 25%"><%= t('facilities_management.rm3830.procurements.spreadsheet_imports.failed.building_number') %></th>
      <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 75%"><%= t('facilities_management.rm3830.procurements.spreadsheet_imports.failed.error_description') %></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% error_list.each do |errors| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-padding-right-2"><%= errors[:building_name] %></td>
        <td class="govuk-table__cell govuk-!-padding-right-2"><%= error_message(:building_errors, errors[:attribute], errors[:errors].first) %></td>
      </tr>
    <% end %>
  </tbody>
</table>