<h2 class="govuk-heading-m">
  <%= t('.user_details_summary') %>
</h2>

<%= govuk_summary_list(
  [
    if allowed_attributes.include?(:roles)
      {
        key: {
          text: t('.role')
        },
        value: {
          text: t("crown_marketplace.role_map.#{@user.roles.first}.text")
        },
        actions: if @current_user_access != :user_support
                  {
                    items: [
                      {
                        text: t('.change'),
                        href: add_users_back_link(@user, 'select-role'),
                        visually_hidden_text: t('.role')
                      }
                    ]
                  }
                end
      }
    end,
    if allowed_attributes.include?(:service_access) && role_requires_service_access?(@user.roles)
      {
        key: {
          text: t('.service_access')
        },
        value: {
          text: tag.ul(class: 'govuk-list') do
                  @user.service_access.each do |service_access|
                    concat(tag.li(t("crown_marketplace.service_access_map.#{service_access}.text")))
                  end
                end
        },
        actions: {
                   items: [
                     {
                       text: t('.change'),
                       href: add_users_back_link(@user, 'select-service-access'),
                       visually_hidden_text: t('.service_access')
                     }
                   ]
                 }
      }
    end,
    if allowed_attributes.include?(:user_details)
      {
        key: {
          text: t('.email_address')
        },
        value: {
          text: @user.email
        },
        actions: {
                   items: [
                     {
                       text: t('.change'),
                       href: add_users_back_link(@user, 'enter-user-details'),
                       visually_hidden_text: t('.email_address')
                     }
                   ]
                 }
      }
    end,
    if allowed_attributes.include?(:user_details) && @user.roles != ['buyer']
      {
        key: {
          text: t('.telephone_number')
        },
        value: {
          text: @user.telephone_number
        },
        actions: {
                   items: [
                     {
                       text: t('.change'),
                       href: add_users_back_link(@user, 'enter-user-details'),
                       visually_hidden_text: t('.telephone_number')
                     }
                   ]
                 }
      }
    end
  ].compact,
  attributes: {
    id: 'add-user-details-summary'
  }
) %>
