@import "govuk-frontend/components/back-link/back-link";

.govuk-back-link {
	font-size: 14px;
	font-size: .875rem;
	line-height: 1.14286;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
  padding-left: 14px;

  &:focus {
    outline: 3px solid rgba(0, 0, 0, 0);
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
  }

  &:active,
  &:focus,
  &:hover,
  &:link,
  &:visited {
    color: #0b0c0c;
  }

  &[href] {
    border-bottom: 1px solid #0b0c0c;
    text-decoration: none;

    &:focus {
      border-bottom-color: rgba(0, 0, 0, 0)
    }
  }
  
  &:before {
    display: block;
    width: 0;
    height: 0;
    -webkit-clip-path: polygon(0 50%, 100% 100%, 100% 0);
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 5px 6px 5px 0;
    border-right-color: inherit;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto
  }
}

@media (min-width:40.0625em) {
	.govuk-back-link {
		font-size: 16px;
		font-size: 1rem;
		line-height: 1.25
	}
}

@media print {
	.govuk-back-link {
		font-size: 14pt;
		line-height: 1.2;
		font-family: sans-serif;
    
    &:active,
    &:focus,
    &:hover,
    &:link,
    &:visited {
      color: #000
    }
  }
}