<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>
      <%= t('.a_change_was_made_to_html', supplier_name: @change_log.current_supplier_data['supplier_name'], created_at: format_date_time(@change_log.created_at)) %>
    </p>
    <p>
      <%= t('.change_made_by_html', email: @change_log.user.email) %>
    </p>
    <% if @change_log.change_type == 'lot_data' %>
      <p>
        <%= t('.changed_lot_html', lot_code: @change_log.data['lot_code']) %>
      </p>
    <% end %>
  </div>
</div>
