<%= render partial: 'change_log_details' %>

<hr class="govuk-section-break govuk-!-margin-3">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= govuk_table(
      [
        {
          text: t('.attribute')
        },
        {
          text: t('.prev_value')
        },
        {
          text: t('.new_value')
        }
      ],
      @change_log.data.map do |item|
        [
          {
            text: t(".attribute_name.#{item['attribute']}")
          },
          {
            text: get_attribute_value(item['attribute'], @change_log.previous_supplier_data[item['attribute']])
          },
          {
            text: get_attribute_value(item['attribute'], item['value'])
          }
        ]
      end,
      caption: {
        text: t('.below_are_the_changes'),
        classes: 'govuk-table__caption--m'
      },
      first_cell_is_header: true
    ) %>
  </div>
</div>
