@import "govuk-frontend/components/tag/tag";

.govuk-tag {
    padding: 2px 8px;
    letter-spacing: 0;
}

@media print {
    .govuk-tag {
        font-family: sans-serif;
        font-size: 14pt;
        line-height: 1.25
    }
}

@media (min-width: 40.0625em) {
    .govuk-tag {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25
    }
}

.govuk-tag--blue {
    background-color: rgb(211,226,241) !important;
    color: #0b0c0c;
}

.govuk-tag--green {
    background-color: rgb(205,226,216) !important;
    color: #0b0c0c;
}

.govuk-tag--grey {
    background-color: #6F777B !important;
    color: #FFFFFF !important;
}

.govuk-tag--red {
    background-color: #d4351c !important;
    color: #FFFFFF !important;
}

.govuk-tag--inactive {
    background-color: #6f777b;
}

.govuk-tag--yellow {
    background-color: rgb(255,246,194) !important;
    color: #0b0c0c;
}