.supplier-lot-data {
  position: relative;
}

.supplier-lot-data__true:after {
  content: "";
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 19px;
  left: 9px;
  width: 23px;
  height: 12px;

  transform: rotate(-45deg);
  border: solid;
  border-width: 0 0 5px 5px;
  // // Fix bug in IE11 caused by transform rotate (-45deg).
  // // See: alphagov/govuk_elements/issues/518
  border-top-color: transparent;
}
