@import "govuk-frontend/settings/all";
@import "settings";
@import "govuk-frontend/tools/all";
@import "govuk-frontend/helpers/all";
@import "govuk-frontend/core/all";
@import "govuk-frontend/objects/all";

@import "components/all";
@import "govuk-frontend/utilities/all";
@import "govuk-frontend/overrides/all";

.ccs-at-results-filters {

    .ccs-at-results-filters__panel {
        background-color: govuk-colour("grey-4");
        padding: govuk-spacing(2); //10px

        .ccs-govuk-hint--selected {
            color: govuk-colour("black");
            @include govuk-font($size: 16, $weight: normal);
            margin: -2px 0 govuk-spacing(1) 0;
            padding: 0 govuk-spacing(2);
            display: none; //see .js-enabled

            &.ccs-hint--show {//this way around is smoother visually
                display: block;
            }
        }

        .govuk-fieldset {
            position: relative;

            legend {
                padding: 0 govuk-spacing(2);
                margin-right: 30px;
            }
        }

        .govuk-checkboxes {
            background-color: govuk-colour("white");
            margin-top: govuk-spacing(1);

            &.ccs-govuk-checkboxes--s {
                .govuk-checkboxes__input + .govuk-checkboxes__label::before,
                .govuk-checkboxes__input {
                    top: 11px;
                    left: 10px;
                }

                .govuk-checkboxes__input:checked + .govuk-checkboxes__label::after {//the tick
                    left: 13px;
                }

                .govuk-checkboxes__item {
                    margin-bottom: 0;
                    padding: 5px 10px 0 35px;
                    border-top: 1px solid $govuk-border-colour;
                    padding-left: 35px;

                    &:first-child {
                        border-top: none;
                    }
                }
            }
        }

        .govuk-input {
            border-width: 1px;
        }

        .govuk-details__text {
            font-size: 17px;
            font-size: 1.0625rem;
        }

        .ccs-at-checkboxes-wrap {
            .govuk-button {
                margin: govuk-spacing(3) 0 0;
            }
        }

        .ccs-at-btn-toggle {//button
            @include govuk-font($size: 19, $weight: bold);
            min-height: 30px;
            width: 100%;
            background-color: transparent;
            text-align: left;
            border: none;
            margin: 2px 0 3px 0;
            cursor: pointer;
            padding: 0 30px 0 10px;

            &:hover {
                background-color: govuk-colour("grey-3");
            }

            &:focus {
                outline: 3px solid govuk-colour("yellow");
                outline-offset: 0;
            }

            span {//text-indent no good
                position: absolute;
                left: -3000px;
                top: -3000px;
                display: block;
            }

            &::after {//the tick
                content: '';
                position: absolute;
                top: 6px;
                right: 10px;
                width: 10px;
                height: 10px;
                border-width: 0;
                border-style: solid;
                border-color: govuk-colour("black");
                background: transparent;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

        }

        .ccs-at-checkbox-accordian.show {
            .ccs-at-btn-toggle::after {
                top: 13px;
                border-width: 3px 3px 0 0;
            }

            .ccs-at-checkboxes-wrap {
                display: block;
            }

        }

    }

    .ccs-at-results-filters__heading-bloc {
        & > a {
            text-align: right;
            display: none;
            line-height: govuk-spacing(6);
        }
    }

}

body.js-enabled {
    .ccs-at-results-filters .ccs-at-checkbox-accordian {
        .ccs-at-checkboxes-wrap {
            display: none;
        }
        .ccs-at-btn-toggle::after {
            border-width: 0 0 3px 3px;
        }
    }
    .ccs-at-results-filters__heading-bloc {
        & > h2 {
            float: left;
        }
        & > a {
            display: inline-block;
        }
    }
}

ul.ccs-list-bullet--sm {
    margin-left: govuk-spacing(1); //as design
    padding-bottom: govuk-spacing(3);

    li {
        font-size: 12px;
        padding-left: govuk-spacing(2);

        & > span {
            @include govuk-font($size: 19, $weight: inherit);
        }
    }
}

.ccs-info-panel {
    background-color: govuk-colour("grey-4");
    padding: govuk-spacing(4) govuk-spacing(4) govuk-spacing(3) govuk-spacing(4);

    dl {
        font-family: $govuk-font-family;
        @include govuk-font($size: 19, $weight: inherit);

        dt {
            font-weight: bold;
            margin-top: govuk-spacing(3);
        }

        dt:first-child {
            margin-top: 0;
        }

        dd {
            margin-inline-start: 0;
            margin-left: 0;

            a {
                overflow-wrap: break-word;
                word-wrap: break-word;
            }
        }
    }
}


.govuk-form-group + .govuk-form-group {
    & > .govuk-label--s {
        margin-top: govuk-spacing(6);
    }
    & > .govuk-label--s ~ .govuk-input {
        margin-bottom: govuk-spacing(3);
    }
}

@media (min-width: 40.0625em){//desktop: stop horizonal jumping, between pgs
  .govuk-fieldset__heading {
      max-width: 445px;
    }
}

/* AT overrides start */
.govuk-input,
.govuk-textarea,
.govuk-radios__input,
.js-enabled .govuk-tabs__list,
.js-enabled .govuk-tabs__panel,
.js-enabled .govuk-tabs__tab[aria-selected="true"] {
    border-width: 1.5px !important;
}
.govuk-radios__input + .govuk-radios__label::before {
    border-width: 1.6px;
}
.js-enabled .govuk-tabs__tab[aria-selected="true"]{
    margin-bottom: -2px !important;
}
.supplier-record__file-download abbr {
    position: absolute;
    top: -3000px;
    left: -3000px;
}
/* AT overrides end */


/* ccs global patterns start: currently here. **************************/
table.ccs-govuk-table--style {
    .govuk-table__header,
    .govuk-table__cell {
        border-bottom: none;
        vertical-align: top;
    }

    .govuk-table__header {
        font-weight: bold;
    }

    .govuk-table__head tr .govuk-table__header:first-child,
    .govuk-table__body .govuk-table__header {
        width: 33%;
        padding-right: govuk-spacing(4);
    }
}

.govuk-input.ccs-govuk-input--search {
    $search01: govuk-spacing(3);
    $search02: govuk-spacing(7);

    padding-right: $search02;

    & + input {
        width: ($search02 - 2);
        height: ($search02 - 2);
        top: ((-$search02) + 1);
        margin-right: 1px;
        text-indent: -3000px;
        position: relative;
        float: right;
        cursor: pointer;
        border: 0;
        background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAADVElEQVRIia2UT2hcVRTGf+fN5M7Mu/f2TR7BlBhCkFLa4CKCShHpQlzYWulWBKkL0aVYdNGF0C66cSviwm60unSntCAoxU1aLJS0FdS4KV2UJDZJZ1KcN3nvuJg77fzJpIn4wYN3zj3nfOfe+50rjID1fgbVF4HngFnAAMvATUSuURS3Njc3s1H5Xcigw3k/rapvAu8DU6oaC6CAiABsBaIFETkvsNhoNLZGEZR6De/9nKpeAN4DUmBMRECkWxwgAjxwGDipsPb01NSN9fV13XEH3vu5QvUKMBFc68Bl4BJRtIhIRp7vB44BJ4BDIS4T+LTZbH4yahc476etcz9b5zR2LrfO3XbeH3X79sWDsfV6PbLeH7DOfWada1lr1Vq76Zw7Pj4+Hm1LYJ37yDqn4bttk2RuZDfdnMlJY537Ira2HfJ+sd4/NRzo/Yx17s8QtOa8P/qk4l0kSeKscz9a59Raq9a5dwZjoiDFqXBDlxH5dbcEGxsbTeBzYIuOCN5I07TvmCI6Oo/DbV9qPnjwcLcEATeApfA/l+V5Okgw+9iKFvdYHKJoHbgTrFiKYqJvmc6EgiqIPHEyhyBS0Bm+/no9juUQSND53pDnVTpDCZCpanOQ4GZPB8fq9fr2Wh4FkRng2WAt12q1u/0EIteAZVQBTrTz/Jnd1k6SpIzq24ALrp9WVlb6jjmiKG4BC4igqodQ/cBOTpqhattgS/UV4K1g3ge+G4wptdvtvFKpLAEnRcQpzEu7vT+u1a60Wq1tLz1JknK5UnmVoviWx2/Xl+VS6WKr1Sr6CAAqlcqKwhrwmoBR1XlVPWKMaRhj/jHVKqZaNWZsLDGVyuGiKD5G9Swwoardl7aUq15tZ9m9XoJHr+ns7Gy0urp6TuE0EAMobElniO7QEUJK50Id22MBkVObjcYfQwRdOOeOK5xB9WVkaLkX94FvgJeA53v8S4i83iUpDWbFcfxXofo98BtQhCYeAg1gFfgd+Bo4Uy6VLuaqVwXmgWkAVU0FXjDGXG9n2b0dW0zTNMryPA3jb1S1WavV7g5K0Xp/ENUfgANB7iCygMipHQn2gkDyFapHgquJyIdDR/Rf0c6yv40x1xGZB+qInBO48H/VfwTr/UHr3LvW2irAv/v6Ij41K6HtAAAAAElFTkSuQmCC') no-repeat 5px 8px;
        /*background: govuk-colour("grey-1") url('https://www.digitalmarketplace.service.gov.uk/static/images/search-button.png') no-repeat 3px (-$search01); */

        &:focus {
            outline: 3px solid govuk-colour("yellow");
            outline-offset: 0;
            max-width: ($search02 - 2) !important; //for -moz-
        }
    }
}

