<p class="gouk-body">
  <%= t('.you_can_view_html', link: link_to(t('shared.admin.dashboard.index.upload_supplier_data.title'), supplier_uploads_show_path(@change_log.change_data['admin_upload_id']), class: 'govuk-link govuk-link--no-visited-state') ) %>
</p>