<p>
  Give notice to the agency on <%= @calculator.ideal_notice_date.to_formatted_s(:long_with_day) %> and make the worker permanent on <%= @calculator.ideal_hire_date.to_formatted_s(:long_with_day) %>
  <% if @calculator.hiring_after_12_weeks? %>
    to
  <% else %>
    so they've been in post for over 12 weeks and you
  <% end %>
  provide 4 weeks’ notice. 
</p>
