<% if @calculator.ideal_notice_date.past? %>
  <p>
    To provide 4 working weeks’ notice:
  </p>
  <ul>
    <li>give notice to the agency as soon as possible and</li>
    <li>make the worker permanent 4 working weeks after that date</li>
  </ul>
<% else %>
  <p>
    If you give notice to the agency on <%= @calculator.ideal_notice_date.to_formatted_s(:long_with_day) %>, and make the worker permanent on <%= @calculator.ideal_hire_date.to_formatted_s(:long_with_day) %> you will be charged £0.00 and avoid paying any temp-to-perm fee.
  </p>
<% end %>
