<h2>Avoid paying fees</h2>
<p>If you make the worker permanent on <%= @calculator.ideal_hire_date.to_formatted_s(:long_with_day) %> and give notice to the agency on <%= @calculator.ideal_notice_date.to_formatted_s(:long_with_day) %> then you can avoid paying any fees to the agency.</p>
