<div class="govuk-!-width-three-quarters">
  <%= hint_details(t('.floors'), t('.description')) %>
</div>
<div class="liftdatacontainer govuk-!-margin-top-4">
  <div id="lifts" class='fields'>
    <%= f.fields_for :lifts, sort_by_lifts_created_at do |builder| %>
        <%= render partial: "lift", locals: {ff: builder} %>
    <% end %>
  </div>
  <%= link_to_lift_add_row("Add another lift (#{FacilitiesManagement::RM3830::ProcurementBuildingService::MAX_NUMBER_OF_LIFTS - f.object.lifts.length} remaining)", f, :lifts, class: 'add-lift-button govuk-button govuk-button--secondary govuk-!-margin-bottom-2', 'aria-label': "Add another lift" ) %>
</div>
