<div id="css-list-basket">
  <div>
    <h3 class="govuk-heading-m" data-txt01="<%= number_selected_text[:many] %>" data-txt02="<%= number_selected_text[:none] %>" data-txt03="<%= number_selected_text[:one] %>">
      <span id="selected-items-count"></span>
      <span></span>
    </h3>
    <a role="button" href="#" class="govuk-link--no-visited-state ccs-no-print" name="remove all" id="removeAll" style="display: none;">
      <%= t('.remove_all') %>
    </a>
    <ul class="govuk-list"></ul>
  </div>
</div>
