<div data-module="accordion" id="accordion-default">
  <div class="govuk-form-group">
    <div class="govuk-checkboxes">
      <% services.each do |service| %>
        <div class="govuk-checkboxes__item">
          <%= check_box_tag(
            "services[]",
            service.code,
            @journey.current_step.services.include?(service.code),
            class: "govuk-checkboxes__input",
            id: "service_#{service.code}",
          ) %>
          <label class="govuk-label govuk-checkboxes__label" for="service_<%= service.code %>">
            <%= service.name %>
          </label>
        </div>
      <% end %>
    </div>
  </div>
</div>
