@import "govuk-frontend/components/radios/radios";

.govuk-radios__input:focus+.govuk-radios__label:before {
	border-width: 4px;
	box-shadow: 0 0 0 4px #fd0
}

.govuk-radios--small .govuk-radios__item:hover .govuk-radios__input:focus+.govuk-radios__label:before {
	box-shadow: 0 0 0 4px #fd0, 0 0 0 10px #b1b4b6
}

@media (hover:none),
(pointer:coarse) {
	.govuk-radios--small .govuk-radios__item:hover .govuk-radios__input:not(:disabled)+.govuk-radios__label:before {
		box-shadow: none
	}
	.govuk-radios--small .govuk-radios__item:hover .govuk-radios__input:focus+.govuk-radios__label:before {
		box-shadow: 0 0 0 4px #fd0
	}
}