<%= content_for :page_title, t("facilities_management.rm3830.admin.service_rates.#{@slug}.heading") %>
<%= admin_breadcrumbs({ text: t("facilities_management.rm3830.admin.service_rates.#{@slug}.heading") })%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render partial: @slug %>

    <%= link_to t('.return_link'), facilities_management_rm3830_admin_path, class: 'govuk-link govuk-caption-m'%>
  </div>
</div>
