/* Import from Govuk frontend, refer to govuk-frontend/govuk/components/_all.scss */
@import "govuk-frontend/govuk/components/all";

/* Override with my own components */
@import "header/header";
@import "footer/footer";
@import "details/details";
@import "documents/documents";
@import "inset-text/inset-text";
@import "label/label";
@import "logo/logo";
@import "notification-banner/notification-banner";
@import "supplier-record/supplier-record";
@import "typography/typography";
/* CCS override and bespoke styles; re-used globally across all modules */
@import "ccs-global/ccs-global";
@import "step-by-step-nav/all";
