<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        <%= warning_title %>
    </strong>
</div>
<h2 class="govuk-heading-s <% govuk-!-width-two-thirds if @page_data[:procurement_data][:status] == 'not received' %>">
    <%= warning_message.html_safe %>
</h2>