<%= govuk_page_content(@page_description, @page_data[:model_object], false, true) do |pd|  %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <p class="govuk-!-font-size-24">
      Your contract is now ready to send to <b><%= @procurement.procurement_suppliers.first.supplier.data['supplier_name'] %></b>.
      </p>
      <p class="govuk-body">Click on the 'confirm and send contract to supplier' button below to send your contract offer to the supplier.</p>
    </div>
  </div>

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
        The supplier has 2 working days to respond to your offer.
    </strong>
  </div>

  <%= form_for @page_data[:model_object], url: facilities_management_procurement_path(@procurement.id), method: :put, html: { specialvalidation: false, novalidate: true, multipart: true } do |f| %>
      <%= govuk_continuation_buttons(pd, f) %>
  <%end %>

<% end %>
