<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd| %>
  <p class="govuk-body-l">Check what you need to know about direct award.</p>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
        <ol class="app-step-nav__steps">
          <li class="app-step-nav__step js-step step-is-shown" id="creating-your-contract">
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
              <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 1
                  </span>
                </span>
              </span>

                <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="true" aria-controls="step-panel-creating-your-contract-1"><span class="js-step-title-text">
                Creating your contract
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Hide</span></button></span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-creating-your-contract-1">
              <ol class="app-step-nav__list " data-length="3">
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="1.1">we will inform you about some key contract information</span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="1.2">you will be asked a few questions that will help us build your contract</span>
                </li>
              </ol>
            </div>
          </li>
          <li class="app-step-nav__step js-step step-is-shown" id="review-contract">
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
              <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 2
                  </span>
                </span>
              </span>

                <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="true" aria-controls="step-panel-review-contract-2"><span class="js-step-title-text">
                Review contract and send offer
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Hide</span></button></span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-review-contract-2">
              <ol class="app-step-nav__list " data-length="1">
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="2.1">you can review details of your contract before deciding how to proceed</span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="2.2">if you are happy with the content of your contract, you can send your offer to the supplier</span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="2.3">the supplier has <b><u>2 working days (48 hours)</u></b> to accept or decline your offer</span>
                </li>
              </ol>
            </div>
          </li>
          <li class="app-step-nav__step" id="waiting">
            <div class="app-step-nav__header js-toggle-panel" data-position="4">
              <h2 class="app-step-nav__title">
              <span class="app-step-nav__square app-step-nav__square--logic">
                <span class="app-step-nav__square-inner">
                  <span class="app-step-nav__square-background">
                    waiting<br/>on<br/>response
                  </span>
                </span>
              </span>
                <span class="js-step-title" style="margin-left:0">&nbsp;</span>
              </h2>
            </div>
          </li>
          <li class="app-step-nav__step js-step step-is-shown" id="offer-accepted">
            <div class="app-step-nav__header js-toggle-panel" data-position="3">
              <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 3
                  </span>
                </span>
              </span>

                <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="true" aria-controls="step-panel-offer-accepted-3"><span class="js-step-title-text">
                When your offer has been accepted
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Hide</span></button></span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-offer-accepted-3">
              <ol class="app-step-nav__list " data-length="4">
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="3.1">the system will notify you that the offer has been accepted, and take you through the next steps</span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="3.2">the supplier will sign the contract and send it back to you (this step will happen offline, outside of this portal)</span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="3.3">you will then sign the contract and send it back to the supplier (this step will happen offline, outside of this portal)</span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="3.4">you will confirm on this portal that the contract has been signed by both parties</span>
                </li>
              </ol>
            </div>
          </li>
          <li class="app-step-nav__step" id="or">
            <div class="app-step-nav__header js-toggle-panel" data-position="4">
              <h2 class="app-step-nav__title">
              <span class="app-step-nav__square app-step-nav__square--logic">
                <span class="app-step-nav__square-inner">
                  <span class="app-step-nav__square-background">
                    or
                  </span>
                </span>
              </span>
              </h2>
            </div>
          </li>
          <li class="app-step-nav__step js-step step-is-shown" id="offer-declined">
            <div class="app-step-nav__header js-toggle-panel" data-position="4">
              <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 4
                  </span>
                </span>
              </span>

                <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="true" aria-controls="step-panel-offer-declined-4"><span class="js-step-title-text">
                  If your offer was declined
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Hide</span></button></span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-offer-declined-4">
              <p class="app-step-nav__paragraph">You will be notified that the supplier has declined your offer, and the
                reason why. You will have a choice to:</p>
              <ol class="app-step-nav__list " data-length="3">
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="4.1">offer the contract to the next placed supplier (after reviewing their price)</span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="4.2">switch to a further competition</span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="4.3">change your requirements</span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="4.4">stop the process</span>
                </li>
              </ol>
              <p class="app-step-nav__paragraph">If the supplier doesn't respond within 2 working days (48 hours), they
                are deemed to have declined the offer.</p>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <%= form_for @page_data[:model_object], url: facilities_management_procurement_path(@procurement.id), method: :put, html: { specialvalidation: false, novalidate: true, multipart: true } do |f| %>
    <%= govuk_continuation_buttons(pd, f) %>
  <% end %>
<% end %>
