<%= govuk_page_content(@page_description, nil, false, true) do |pd|  %>
    <%= content_for :page_title, pd.heading_details.text %>
    <% %w[received_offers accepted_offers live_contracts closed_contracts].each do |table| %>
        <hr class="govuk-section-break govuk-section-break--m">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <%= render partial: table %>
            </div>
        </div>
    <% end %>
<% end %>