$ccs-colours: (
  "light-green": #F0FFF1,
  "dark-green": #006435,
  "button-green": #007e8a,
  "red": #9b1a47,
  "dark-red": #85163d,
  "black": #2f2f2f,
  "dark-grey": #6f777b,
  "mid-grey": #b1b4b6,
  "grey": #dee0e2,
  "light-grey": #f8f8f8,
  "white": #ffffff,
);

@function ccs-colour($colour) {
  $colour: quote($colour);

  @if not map-has-key($ccs-colours, $colour) {
    @error "Unknown colour `#{$colour}`";
  }

  @return map-get($ccs-colours, $colour);
}

$ccs-border-colour: ccs-colour("mid-grey");
$ccs-brand-colour: ccs-colour("red") !default;
