<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= f.hidden_field :active %>
    <%= govuk_radios(
      :active,
      [
        {
          value: true,
          label: {
            text: govuk_tag(t('.active'))
          }
        },
        {
          value: false,
          label: {
            text: govuk_tag(t('.inactive'), :red)
          }
        }
      ],
      form: f,
      fieldset: {
        legend: {
          text: t('.supplier_status_question'),
          classes: 'govuk-fieldset__legend--m'
        }
      },
      hint: {
        text: t('.status_hint')
      },
      classes: 'govuk-radios--inline'
    ) %>
  </div>
</div>
