<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">




        <div id="ccs-error-sum" class="govuk-error-summary govuk-visually-hidden ccs-e-msg" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                <%= t('common.error_summary_title') %>
            </h2>
            <div class="govuk-error-summary__body">
                <ul id="ccs-error-sum-list" class="govuk-list govuk-error-summary__list"></ul>
            </div>
        </div>



        <h1 class="govuk-heading-xl">
            Activate your account
        </h1>

        <p class="govuk-body-l">
            An email has been sent to <span>email@domain.com</span> with a confirmation code.
        </p>

        <%= form_tag @form_path, class: 'ccs-form', id: 'cop_confirmation_code', method: :get do %>

            <div class="govuk-form-group govuk-!-margin-bottom-7">
                <label class="govuk-label govuk-label--m govuk-!-margin-bottom-0" for="confirmationcode">
                    Confirmation code
                </label>

                <span id="password-error" class="govuk-error-message govuk-visually-hidden ccs-e-msg">
                    error message
                </span>

                <input class="govuk-input govuk-!-width-one-third" id="confirmationcode" name="confirmationcode" type="number" max="6">
            </div>

            <%= submit_tag t('common.continue'), id: "submit", class: "govuk-button govuk-!-padding-left-7 govuk-!-padding-right-7" %>

        <% end %>

        <p class="govuk-body govuk-!-margin-bottom-7">
            <%= t('.resend_the_confirmation_email_html') %>
        </p>

        check agains anthonys updated content/text

    </div>
</div>