

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Dynamic accordian</h1>

      <p class="govuk-body">New HTML for this accordian to go here ...</p>




      

    </div>
  </div>