  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">Example of error messages HTML</h1>

      <p><b>Note</b>: each item listed in the top errory <b>summary</b> links directly to the ID of the related form element; in this case, one error links to the first radio input element</p>

      <p><b>Note</b> classes: .govuk-form-group--error, .govuk-error-message</p>

      <p><b>Note</b>: see how the aria-describedby is added for this error state and references the ID on the error message HTML.</p>

    </div>
  </div>

  <hr style="margin-bottom: 150px;">







  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="">


        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#ap-std-1">Select yes if you know the apprenticeship standard that you would like training for</a>
              </li>
            </ul>
          </div>
        </div>


        <div class="govuk-form-group govuk-form-group--error">
          <fieldset class="govuk-fieldset" aria-describedby="ap-error">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-font-weight-bold">
              <h1 class="govuk-fieldset__heading">
                Do you know the apprenticeship standard that you would like training for?
              </h1>
            </legend>

            <span id="ap-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select yes if you know the apprenticeship standard that you would like training for
            </span>

            <div class="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ap-std-1" name="ap-std" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="ap-std-1">
                        Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ap-std-2" name="ap-std" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="ap-std-2">
                  No
                </label>
              </div>

            </div>

          </fieldset>
        </div>

        <%= render 'layouts/button', text: t('common.continue')%>

      </form>

     </div>
  </div>
