  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">Example of error message state HTML</h1>

      <p><b>Note</b>: each item listed in the top errory <b>summary</b> links directly to the ID of the related form element; in this case, one error links to the first radio input element</p>

      <p><b>Note</b> classes: .govuk-form-group--error, .govuk-error-message</p>

      <p><b>Note</b>: see how the aria-describedby is added for this error state and references the ID on the error message HTML.</p>

    </div>
  </div>

  <hr style="margin-bottom: 150px;">







  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="find_apprentices3" class="ccs-form" method="">



        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#ap-have-das-1">Select yes if your organisation have a DAS account</a>
              </li>
            </ul>
          </div>
        </div>



        <div class="govuk-form-group govuk-form-group--error">
          <fieldset class="govuk-fieldset govuk-form-group--error" aria-describedby="ap-have-error">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-font-weight-bold">
              <h1 class="govuk-fieldset__heading">
                Does your organisation have a Digital Apprenticeship Service (DAS) account?
              </h1>
            </legend>

            <span id="ap-have-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select yes if your organisation have a DAS account
            </span>

            <div class="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ap-have-das-1" name="ap-have-das" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="ap-have-das-1">
                    Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ap-have-das-2" name="ap-have-das" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="ap-have-das-2">
                    No
                </label>
              </div>

            </div>

          </fieldset>
        </div>

        <%= render 'layouts/button', text: t('common.continue')%>

      </form>

    </div>
  </div>
