  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">Example of error message state HTML</h1>

      <p><b>Note</b> additional classes: .govuk-input--error, .govuk-form-group--error (plus, the new inserted HTML for main top summary and individual error messages. <br>In the top <b>summary</b> a list of error messages repeat the messages inline below, and link via the related ID directly to the form elements concerned.</p>

      <p><b>Note</b>: on radio fieldsets, the <b>aria-describedby</b> which are added and reference the ID of the first radio or checkbox in the group. The <b>aria-describedby</b> is added directly to the input element on the text field which references the IDs on the hint, and the error message. </p>

    </div>
  </div>

  <hr style="margin-bottom: 150px;">




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-xl">Building services design engineer</span>
      <h1 class="govuk-heading-xl">Add your requirements</h1>

    </div>
  </div>

  <form action="requirement" class="ccs-form" method="">



    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#radio-id-04">Select yes if you need help with recruiting the apprentices</a>
          </li>
          <li>
            <a href="#input-10">Enter the the minimum number of apprentices that you need training</a>
          </li>
        </ul>
      </div>
    </div>



    <div class="govuk-grid-row">

      <div class="ccs-right-panel-sticky">
        <div>
          <p class="govuk-body-m govuk-!-font-weight-bold"><span>12</span> Providers can match these requirements</p>
        </div>
      </div>

      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="checkbox-hint-01">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading ccs-fieldset__heading--wide">
                The maximum funding for this Apprenticeship Standard is &pound;27,000. Would you use a supplier that requires additional funding to provide the training?
              </h1>
            </legend>

            <span id="checkbox-hint-01" class="govuk-hint">
              Maximum funding already includes things like fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum.
            </span>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="radio-id-01" name="radio-a" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="radio-id-01">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="radio-id-02" name="radio-a" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="radio-id-02">
                  No
                </label>
              </div>
            </div>

            <div class="govuk-radios__divider govuk-!-margin-top-3 govuk-!-margin-bottom-3">or</div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radio-id-03" name="radio-a" type="radio" value="nopref">
              <label class="govuk-label govuk-radios__label" for="radio-id-03">
                No preference
              </label>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group govuk-form-group--error">
          <fieldset class="govuk-fieldset" aria-describedby="radio-id-04-error">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading ccs-fieldset__heading--wide">
                Do you need help with recruiting the apprentices?
              </h1>
            </legend>

            <span id="radio-id-04-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select yes if you need help with recruiting the apprentices
            </span>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="radio-id-04" name="radio-b" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="radio-id-04">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="radio-id-05" name="radio-b" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="radio-id-05">
                  No
                </label>
              </div>
            </div>

            <div class="govuk-radios__divider govuk-!-margin-top-3 govuk-!-margin-bottom-3">or</div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radio-id-06" name="radio-b" type="radio" value="nopref">
              <label class="govuk-label govuk-radios__label" for="radio-id-06">
                No preference
              </label>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="hint-radio-c">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading ccs-fieldset__heading--wide">
                Do you need to customise this training to your organisation's needs?
              </h1>
            </legend>

            <span id="hint-radio-c" class="govuk-hint govuk-!-font-size-16">
              For example, does the course require a custom structure of security specification
            </span>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="radio-id-07" name="radio-c" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="radio-id-07">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="radio-id-08" name="radio-c" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="radio-id-08">
                  No
                </label>
              </div>
            </div>

            <div class="govuk-radios__divider govuk-!-margin-top-3 govuk-!-margin-bottom-3">or</div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radio-id-09" name="radio-c" type="radio" value="nopref">
              <label class="govuk-label govuk-radios__label" for="radio-id-09">
                No preference
              </label>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group govuk-form-group--error">
          <label class="govuk-label govuk-label--s" for="input-10">
            What is the minimum number of apprentices that you need training?
          </label>

          <span id="hint-input-10" class="govuk-hint govuk-!-font-size-16">
            If you're unsure of exact numbers, use a good estimate
          </span>

          <span id="input-10-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select yes if you need help with recruiting the apprentices
          </span>

          <input class="govuk-input govuk-input--width-4 govuk-input--error" id="input-10" name="qty" type="text" aria-describedby="hint-input-10 input-10-error">
        </div>

      </div>

    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-margin-top-6 govuk-!-margin-bottom-6">

        <button id="submit" type="submit" class="govuk-button">
          Find training providers
        </button>

      </div>
    </div>

  </form>

