

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">CCS patterns</h1>

      <p class="govuk-body">CCS HTML examples of patterns (and styles, etc) used across the framework...</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/ccs-patterns/prototypes">New Views</a></li>
        <li><a href="/ccs-patterns/new_layout">New Layout</a></li>
        <li><a href="/ccs-patterns/dynamic-accordian">Dynamic accordian</a></li>
        <li><a href="/ccs-patterns/supplier-results-v1">Supplier results (list) v1</a></li>
        <li><a href="/ccs-patterns/supplier-results-v2">Supplier results (table) v2</a></li>
        <li><a href="/ccs-patterns/small-checkboxes">Small checkboxes</a></li>
        <li><a href="/ccs-patterns/titles-checkboxes">Titles with checkboxes</a></li>
        <li><a href="/ccs-patterns/numbered-pagination">Numbered pagination</a></li>
        <li><a href="/ccs-patterns/table-5050">5050 table</a></li>
        <li><a href="/ccs-patterns/supplier-detail">Supplier detail table</a></li>
      </ul>

      <hr/>
      <h2>Meta data</h2>
      <%= link_to 'Metadata', ccs_patterns_ccsmetadata_url %>
      <hr style="margin: 30px 0 100px 0;">


      <p class="govuk-body">AT HTML: Error message examples...</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/ccs-patterns/errors-find-apprentices">find_apprentices (Legend)</a></li>
        <li><a href="/ccs-patterns/errors-find-apprentices2">find_apprentices2 (Legend)</a></li>
        <li><a href="/ccs-patterns/errors-find-apprentices3">find_apprentices3 (Label)</a></li>
        <li><a href="/ccs-patterns/errors-find-apprentices4">find_apprentices4 (Tabs: input &amp; checkboxes)</a></li>
        <li><a href="/ccs-patterns/errors-requirements">errors-requirements</a></li>
      </ul>

      <hr style="margin: 30px 0 100px 0;">


      <p class="govuk-body">HTML for the <b>Cognito login screens</b>/designs: <br>
      <i>All these flat HTML file names prepended with 'cog-'.</i></p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/ccs-patterns/cog-sign-in">Sign in</a></li>
        <li><a href="/ccs-patterns/cog-sign-in-password-prompt-change">Sign in - password prompt change</a></li>
        <li><a href="/ccs-patterns/cog-register">Register</a></li>
        <li><a href="/ccs-patterns/cog-register-enter-confirmation-code">Register - enter confirmation code</a></li>
        <li><a href="/ccs-patterns/cog-email">Register - confirmation code email</a> <i>(Simple HTML to use in email template)</i></li>
        <li><a href="/ccs-patterns/cog-register-domain-not-on-whitelist">Register - domain not on whitelist</a></li>
        <li><a href="/ccs-patterns/cog-forgot-password-request">Forgot password - request</a></li>
        <li><a href="/ccs-patterns/cog-forgot-password-confirmation">Forgot password - confirmation</a></li>
        <li><a href="/ccs-patterns/cog-email2">Forgot password - notification</a></li>
        <li><a href="/ccs-patterns/cog-forgot-password-reset">Forgot password - reset</a></li>
        <li><a href="/ccs-patterns/cog-forgot-password-reset2">Forgot password - change successful</a></li>
      </ul>


      <hr style="margin: 30px 0 100px 0;">


      <p class="govuk-body"><abbr>MC</abbr> HTML pages: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/ccs-patterns/start">MC Start page</a></li>
        <li><a href="/ccs-patterns/select">MC Select help needed</a></li>
      </ul>

    </div>
  </div>
