

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">CCS patterns</h1>

      <p class="govuk-body">CCS HTML examples of patterns (and styles, etc) used across the framework...</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/ccs-patterns/dynamic-accordian">Dynamic accordian</a></li>
        <li><a href="/ccs-patterns/supplier-results-v1">Supplier results (list) v1</a></li>
        <li><a href="/ccs-patterns/supplier-results-v2">Supplier results (table) v2</a></li>
        <li><a href="/ccs-patterns/small-checkboxes">Small checkboxes</a></li>
        <li><a href="/ccs-patterns/titles-checkboxes">Titles with checkboxes</a></li>
        <li><a href="/ccs-patterns/numbered-pagination">Numbered pagination</a></li>
        <li><a href="/ccs-patterns/table-5050">5050 table</a></li>
        <li><a href="/ccs-patterns/supplier-detail">Supplier detail table</a></li>
      </ul>


      <hr style="margin: 30px 0 100px 0;">


      <p class="govuk-body">AT HTML: Error message examples...</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/ccs-patterns/errors-find-apprentices">find_apprentices (Legend)</a></li>
        <li><a href="/ccs-patterns/errors-find-apprentices2">find_apprentices2 (Legend)</a></li>
        <li><a href="/ccs-patterns/errors-find-apprentices3">find_apprentices3 (Label)</a></li>
        <li><a href="/ccs-patterns/errors-find-apprentices4">find_apprentices4 (Tabs: input &amp; checkboxes)</a></li>
        <li><a href="/ccs-patterns/errors-requirements">errors-requirements</a></li>
      </ul>



    </div>
  </div>