    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-m">Small CCS checkboxes</h1>
            <p class="govuk-body">Uses GDS mark-up with additional ccs class.</p>

            <p><b>Note</b> classes: .ccs-govuk-checkboxes--s</p>
            
        </div>
    </div>

    <hr style="margin-bottom: 150px;">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds" style="margin-bottom: 100px;">


            <!-- small checkbox HTML starts -->
            <div class="govuk-checkboxes ccs-govuk-checkboxes--s">
              
                <div class="govuk-checkboxes__item">
                    <input type="checkbox" name="box01" id="box01" value="box_01" class="govuk-checkboxes__input" checked="checked">
                    <label class="govuk-label govuk-checkboxes__label" for="box01">
                        Example pre-selected checkbox 
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input type="checkbox" name="box02" id="box02" value="box_02" class="govuk-checkboxes__input" checked="checked">
                    <label class="govuk-label govuk-checkboxes__label" for="box02">
                        Second example of pre-selected checkbox 
                    </label>
                </div>              

                <div class="govuk-checkboxes__item">
                    <input type="checkbox" name="box03" id="box03" value="box_03" class="govuk-checkboxes__input">
                    <label class="govuk-label govuk-checkboxes__label" for="box03">
                        A checkbox label
                    </label>
                </div>

                <div class="govuk-checkboxes__item">
                    <input type="checkbox" name="box04" id="box04" value="box_04" class="govuk-checkboxes__input">
                    <label class="govuk-label govuk-checkboxes__label" for="box04">
                        Another checkbox label
                    </label>
                </div>

            </div>
            <!-- small checkbox HTML ends -->            


        </div>
    </div>