<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m">Supplier detail table</h1>

        <p class="govuk-body"><b>Note</b> classes: .ccs-right-panel, .ccs-contact-details</p>

    </div>
</div>

<hr style="margin-bottom: 150px;">
<style>.ccs-search-results {margin-bottom: 100px; }</style>




<!-- supplier details HTML starts -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <span class="govuk-caption-xl">Supplier details</span>
        <h1 class="govuk-heading-xl">
            XYZ Consultants LTD
            <span class="govuk-!-font-size-19 govuk-!-font-weight-bold ccs-tag">SME</span>
        </h1>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-right-8">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Day rates</h2>

        <p class="govuk-body">Fixed until September 2020</p>

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-visually-hidden">Day rates</caption>

            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header govuk-!-font-weight-bold" scope="col">Position</th>
                    <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter" scope="col">Max day rate</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Junior Consultant / Accountant / Auditor</th>
                    <td class="govuk-table__cell">&pound;380</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Consultant / Accountant / Auditor</th>
                    <td class="govuk-table__cell">&pound;400</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Senior Consultant / Accountant / Auditor</th>
                    <td class="govuk-table__cell">&pound;430</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Principle Consultant / Accountant / Auditor</th>
                    <td class="govuk-table__cell">&pound;450</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Managing Consultant / Accountant / Auditor</th>
                    <td class="govuk-table__cell">&pound;480</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Director / Partner</th>
                    <td class="govuk-table__cell">&pound;500</td>
                </tr>
            </tbody>
        </table>

        <p class="govuk-body"><span class="govuk-!-font-size-19 ccs-tag">SME</span> This supplier is a small or medium-sized enterprise</p>

    </div>
    <div class="govuk-grid-column-one-third">

        <div class="ccs-right-panel">
            <h3 class="govuk-heading-m">Contact details</h3>

            <dl class="ccs-contact-details">
                <dt>Person</dt>
                <dd>Jane Smith</dd>

                <dt>Email</dt>
                <dd><a href="mailto:emailaddress@websiteurl.co.uk">emailaddress@websiteurl.co.uk</a></dd>

                <dt>Phone number</dt>
                <dd>01234 567890</dd>

                <dt>Website</dt>
                <dd><a href="http://websiteurl.co.uk">http://websiteurl.co.uk</a></dd>

                <dt>Address</dt>
                <dd>Maidstone Campus</dd>
                <dd>Tonbridge Road</dd>
                <dd>Maidstone</dd>
                <dd>Kent</dd>
                <dd>ME16 8AQ</dd>
            </dl>
        </div>

    </div>
</div>
