    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-m">Supplier results table v1</h1>
            <p class="govuk-body">New HTML for a supplier results table (v1) pattern. <br>(Unordered list, with no column headers).</p>

            <p><b>Note</b> classes: .ccs-search-results, ccs-results-list, .ccs-at-results-list__detail,  .ccs-no-underline, .ccs-tag, .ccs-font--wrap, .ccs-next</p>
            <p><small>Change the class '.govuk-grid-column-two-thirds' accordingly.</small></p>
        </div>
    </div>

    <hr style="margin-bottom: 150px;">
    <style>.ccs-search-results {margin-bottom: 100px; }</style>






    <!-- the supplier results HTML starts ... -->
    <section class="govuk-grid-column-two-thirds ccs-search-results">

        <ul class="ccs-at-results-list">
            <li class="govuk-list">
                <div class="govuk-grid-column-two-thirds">
                    <a href="/" class="govuk-heading-s govuk-link--no-visited-state ccs-no-underline">
                        Lorem ipsum dolor sit amet
                        <span class="govuk-!-font-size-14 ccs-tag">SME</span>
                    </a>
                </div>

                <div class="govuk-grid-column-one-third ccs-at-results-list__detail">
                    <div>
                    <span class="govuk-!-font-size-16">
                        <span class="govuk-!-font-size-27 ccs-font--wrap">&pound;400</span> 
                        Average day rate
                    </span>
                    </div>
                </div>
            </li>

            <li class="govuk-list">
                <div class="govuk-grid-column-two-thirds">
                    <a href="/" class="govuk-heading-s govuk-link--no-visited-state ccs-no-underline">
                    Consectetur adipiscing elit
                    <span class="govuk-!-font-size-14 ccs-tag">SME</span>
                    </a>
                </div>

                <div class="govuk-grid-column-one-third ccs-at-results-list__detail">
                    <div>
                    <span class="govuk-!-font-size-16">
                        <span class="govuk-!-font-size-27 ccs-font--wrap">&pound;325</span> 
                        Average day rate
                    </span>
                    </div>
                </div>
            </li>

            <li class="govuk-list">
                <div class="govuk-grid-column-two-thirds">
                    <a href="/" class="govuk-heading-s govuk-link--no-visited-state ccs-no-underline">Vestibulum pellentesque turpis at</a>
                </div>

                <div class="govuk-grid-column-one-third ccs-at-results-list__detail">
                    <div>
                    <span class="govuk-!-font-size-16">
                        <span class="govuk-!-font-size-27 ccs-font--wrap">&pound;395</span> 
                        Average day rate
                    </span>
                    </div>
                </div>
            </li>

            <li class="govuk-list">
                <div class="govuk-grid-column-two-thirds">
                    <a href="/" class="govuk-heading-s govuk-link--no-visited-state ccs-no-underline">Phasellus facilisis quis dui a pellentesque</a>
                </div>

                <div class="govuk-grid-column-one-third ccs-at-results-list__detail">
                    <div>
                    <span class="govuk-!-font-size-16">
                        <span class="govuk-!-font-size-27 ccs-font--wrap">&pound;475</span> 
                        Average day rate
                    </span>
                    </div>
                </div>
            </li>

            <li class="govuk-list">
                <div class="govuk-grid-column-two-thirds">
                    <a href="/" class="govuk-heading-s govuk-link--no-visited-state ccs-no-underline">Sed a fringilla risus</a>
                </div>

                <div class="govuk-grid-column-one-third ccs-at-results-list__detail">
                    <div>
                    <span class="govuk-!-font-size-16">
                        <span class="govuk-!-font-size-27 ccs-font--wrap">&pound;295</span> 
                        Average day rate
                    </span>
                    </div>
                </div>
            </li>

            <!-- example with sub-list row (UL/LI) -->
            <li class="govuk-list">
                <div class="govuk-grid-column-two-thirds">
                    <a href="/" class="govuk-heading-s govuk-link--no-visited-state ccs-no-underline">Example with sub-list row</a>

                    <ul class="ccs-at-results-list__details">
                        <li class="govuk-grid-column-one-third"><b>Level:</b> 3</li>
                    </ul>
                </div>

                <div class="govuk-grid-column-one-third ccs-at-results-list__detail">
                    <div>
                    <span class="govuk-!-font-size-16">
                        <span class="govuk-!-font-size-27 ccs-font--wrap">1</span> 
                        Provider(s)
                    </span>
                    </div>
                </div>
            </li>

        </ul>

        <%= link_to '#', class: 'govuk-link govuk-!-font-size-19 govuk-link--no-visited-state ccs-next' do %>
        <%= t('common.next')%><span>&nbsp;&rarr;</span>
        <% end %>

    </section>
    <!-- the supplier results HTML ends -->
