    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-m">5050 table</h1>
            <p class="govuk-body">Example HTML showing a CCS pattern for a table split with two equal coloumns (50/50). Two seperate tables/examples are shown. Uses standard GDS markup with additional parent CCS classes.</p>

            <p class="govuk-body"><b>Note</b> classes: .ccs-at-govuk-table--sm, .ccs-at-govuk-table--5050, .ccs-remove</p>

        </div>
    </div>

    <hr style="margin-bottom: 150px;">
    <style>.ccs-search-results {margin-bottom: 100px; }</style>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- table 505 HTML starts -->
        <h2 class="govuk-heading-m">Requirements</h2>

        <table class="govuk-table ccs-at-govuk-table--sm ccs-at-govuk-table--5050">
            <caption class="govuk-table__caption ccs-remove">
                Requirements summary
            </caption>

            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Briefly outline the qualities you are looking for in a supplier</th>
                    <td class="govuk-table__cell">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut condimentum turpis. Praesent in est finibus purus pharetra ultricies at eu ipsum. Phasellus pretium consectetur erat, ac consequat sapien faucibus ultrices. Aliquam erat volutpat. </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Apprenticeship training course</th>
                    <td class="govuk-table__cell">Building services design engineer</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Level</th>
                    <td class="govuk-table__cell">6</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Help with recruiting the apprentices</th>
                    <td class="govuk-table__cell">Yes</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Willing to provide additional funding</th>
                    <td class="govuk-table__cell">Yes</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Minimum number of apprentices</th>
                    <td class="govuk-table__cell">30</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Minimum Ofsted rating</th>
                    <td class="govuk-table__cell">2 - Good</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Training in multiple locations</th>
                    <td class="govuk-table__cell">No</td>
                </tr>
            </tbody>
        </table>

        <h2 class="govuk-heading-m">Filters used</h2>

        <table class="govuk-table ccs-at-govuk-table--sm ccs-at-govuk-table--5050">
            <caption class="govuk-table__caption ccs-remove">
                Filters used summary
            </caption>

            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Delivery method</th>
                    <td class="govuk-table__cell">Classroom based</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Time demand</th>
                    <td class="govuk-table__cell">Day release</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Classroom sharing</th>
                    <td class="govuk-table__cell">Closed</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Training availability</th>
                    <td class="govuk-table__cell">Scheduled</td>
                </tr>
            </tbody>
        </table>
        <!-- table 505 HTML ends -->

    </div>
</div>