<div class="govuk-grid-column-one-third">
  <span class="govuk-heading-m lot-list"><%= lot_title.html_safe %></span>
  <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col"><%= lot %></th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% lot_data.each do |supplier| %>
        <tr>
          <td class="govuk-table__cell">
            <span><%= supplier['name'] %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
