<div class="govuk-grid-column-one-third govuk-!-margin-top-9">
  <div class="basket">
    <div>
      <h3 class="govuk-heading-m" data-txt01="<%= t('facilities_management.rm3830.journey.choose_services.services_selected') %>" data-txt02="<%= t('facilities_management.rm3830.journey.choose_services.no_services_selected') %>" data-txt03="<%= t('facilities_management.rm3830.journey.choose_services.service_selected') %>">
        <span id="selected-services-count">0</span> <span>services selected</span></h3>
      <a class="govuk-!-padding-left-2 remove-link" role="button" href="#" aria-label="Remove all">Remove all</a><br/>
      <ul style="margin-top:10px;" class="govuk-list"></ul>
    </div>
  </div>
</div>