<div class="procurement">
  <div class="services chooser-component">
    <div id="ccs-dynamic-accordian" class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render partial: 'service_codes_checkboxes', locals: { heading: t('.question'), subtitle: t('.subtitle'), service_specification_doc: t('.service_specification_doc') } %>
      </div>
      <%= render partial: 'service_codes_basket' %>
    </div>
  </div>
</div>
