<%= form_for @procurement, url: facilities_management_procurement_path(@procurement), method: :delete, html: { specialvalidation: true, novalidate: true, multipart: true } do |f| %>
  <div class="govuk-error-summary" role="alert">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      <%= t('.are_you_sure', contract_name: @procurement.contract_name) %>
    </h2>
  </div>
  <%= f.submit t('.confirm_delete'), class: "govuk-button govuk-button--warning", aria: { label: t('.confirm_delete') } %>
  <%= link_to t('.cancel'),  facilities_management_procurements_url, class: "govuk-button govuk-button--secondary govuk-!-margin-left-3", aria: { label: t('.cancel_delete') } %>
<% end %>
