<p class="govuk-body">
  <%= t('.guidance') %>
</p>
<input type="hidden" name="step" value="gia"/>

<% gia_hint_html = capture do 
  concat(tag.p(t('.description_html'), class: 'govuk-hint'))
  concat(tag.p(t('.further_info_html'), class: 'govuk-hint'))
end %>

<%= govuk_text_input(
  f,
  :gia,
  {
    label: {
      text: t('.gia_header'),
      classes: 'govuk-label--m'
    },
    hint: {
      text: gia_hint_html,
      id: 'gia-hint'
    },
    input: {
      classes: 'govuk-input--width-5',
      suffix: {
        text: 'sqm'
      },
      attributes: {
        type: 'number',
        pattern: '[0-9]',
        maxlength: 9,
        aria: {
          describedby: 'gia-hint'
        }
      }
    }
  }
)%>

<%= govuk_text_input(
  f,
  :external_area,
  {
    label: {
      text: t('.external_area_header'),
      classes: 'govuk-label--m'
    },
    hint: {
      text: t('.external_area_description_html'),
      id: 'external-area-hint'
    },
    input: {
      classes: 'govuk-input--width-5',
      suffix: {
        text: 'sqm'
      },
      attributes: {
        type: 'number',
        pattern: '[0-9]',
        maxlength: 9,
        aria: {
          describedby: 'external-area'
        }
      }
    }
  }
)%>
