<h2 class="govuk-heading-m govuk-!-margin-0">What is your buildings address?</h2>
<span class="govuk-caption-m">We'll use this UK address for the building</span>
<div class="govuk-!-margin-top-4 fm-postcode-lookup-panel">
  <div id="fm-postcode-lookup-container">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Enter Postcode</h2>
    <span class="govuk-caption-m govuk-!-margin-top-0 govuk-!-margin-bottom-4">For example SW1A 2AA</span>
    <div id="fm-postcode-error-form-group" class="govuk-form-group">
    <span id="fm-postcode-error" class="govuk-error-message govuk-visually-hidden">
      The postcode entered is invalid
    </span>
      <input id="fm-postcode-input" type="text" class="govuk-input govuk-input--width-5 govuk-!-margin-right-3">
      <a id="fm-post-code-lookup-button" href="#" role="button" class="govuk-button">Find address</a>
    </div>
    <a href="https://www.royalmail.com/find-a-postcode" class="govuk-link--no-visited-state" target="_blank" role="button">Find
      a postcode on Royal Mail's
      postcode finder</a>
  </div>
  <div id="fm-post-code-results-container" class="govuk-form-group govuk-visually-hidden">
    <label class="govuk-heading-s">Postcode</label>
    <div class="govuk-grid-row govuk-!-margin-top-3">
      <div class="govuk-grid-column-one-quarter">
        <label id="fm-postcode-label" class="govuk-heading-s"></label>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <a id="fm-change-postcode" href="#" class="govuk-link--no-visited-state" role="button">Change</a>
      </div>
    </div>
    <label class="govuk-heading-s govuk-!-margin-bottom-0">Select an address</label>
    <div id="fm-address-error-form-group" class="govuk-form-group">
    <span id="fm-address-error" class="govuk-error-message govuk-visually-hidden">
      No address selected
    </span>
      <select class="govuk-select govuk-!-width-full" id="fm-postcode-lookup-results" name="fm-postcode-lookup-results">
        <option value="status-option" selected>0 addresses found</option>
      </select>
    </div>
    <div class="govuk-!-margin-top-3">
      <a id="fm-building-not-found" href="new-building-address" class="govuk-link--no-visited-state" role="button">I
        cant find my building's
        address in the list</a>
    </div>
  </div>
</div>