<h2 class="govuk-heading-m govuk-!-margin-0">What is the name of your building?</h2>
<span class="govuk-caption-m">For example, Newbury office</span>
<div id="fm-building-name-container" class="govuk-form-group">
  <span id="fm-building-name-error" class="govuk-error-message govuk-visually-hidden">
      Please enter a building name
  </span>
  <label class="govuk-label" for="fm-new-building-name">
    Building name
  </label>
  <input class="govuk-input" id="fm-new-building-name" name="fm-new-building-name" type="text">
</div>
