<div>
  <h1 class="govuk-caption-xl">You have chosen <span class="govuk-!-font-weight-bold" id="fm-service-count">0</span>
    <span class="govuk-!-font-weight-bold"> services </span>
    so far</h1>
</div>

