<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="/facilities-management/select-locations" class="govuk-back-link">Back</a>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-caption-xl">Your buildings</h2>
      <h1 class="govuk-heading-xl">Add your building</h1>
      <%= render('new_building_name') %>
      <%= render('building_address') %>
      <div class="govuk-!-margin-top-4">
        <a id="fm-new-building-continue" href="#" class="govuk-button ccs-no-print" role="button">Continue</a>
      </div>
    </div>
  </div>
</div>
