// Override any GOVUK settings here

// use Rails asset helpers
$govuk-font-url-function: 'font-url';
$govuk-image-url-function: 'image-url';

// tell GOVUK to apply base styles to <p> and <a> so we don't have to add the
// classes
$govuk-global-styles: true;

// Disable compatibilty with old GOVUK kits as we do not need it
$govuk-compatibility-govukfrontendtoolkit: false;
$govuk-compatibility-govuktemplate: false;
$govuk-compatibility-govukelements: false;

$govuk-colours: (
  "purple": #2e358b,
  "light-purple": #6f72af,
  "bright-purple": #912b88,
  "pink": #d53880,
  "light-pink": #f499be,
  "red": #b10e1e,
  "bright-red": #df3034,
  "orange": #f47738,
  "brown": #b58840,
  "yellow": #ffbf47,
  "light-green": #85994b,
  "green": #006435,
  "turquoise": #28a197,
  "light-blue": #2b8cc4,
  "blue": #005ea5,

  "black": #0b0c0c,
  "grey-1": #6f777b,
  "grey-2": #bfc1c3,
  "grey-3": #dee0e2,
  "grey-4": #f8f8f8,
  "white": #ffffff,

  "link": #007194,
  "link-hover": #15a0cc,
  "link-visited": #15a0cc,

  "failure": #B10E1E,
  "warning": #DE8F1A,
  "success": #0EB163,

  "primary": #9B1A47,
  "secondary": #007E8A,
  "dark-grey": #2F2F2F,

);

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

$govuk-font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
$govuk-font-family-print: sans-serif;

$govuk-font-weight-light: 300;
$govuk-font-weight-regular: 400;
$govuk-font-weight-semi-bold: 600;
$govuk-font-weight-bold: 700;

$govuk-heading-xl: 48px;
$govuk-heading-l: 27px;

$govuk-link-colour: #007194;
$govuk-link-hover-colour: #2b8cc4;
$govuk-link-visited-colour: #4c2c92;
