// Override any GOVUK settings here

$govuk-font-url-function: 'font-url';
$govuk-image-url-function: 'image-url';

$govuk-global-styles: true;

$govuk-compatibility-govukfrontendtoolkit: false;
$govuk-compatibility-govuktemplate: false;
$govuk-compatibility-govukelements: false;

$ccs-colours: (
  "primary": #9B1A47,
  "grey-1": #6f777b,
  "grey-2": #bfc1c3,
  "grey-3": #dee0e2,
  "grey-4": #f8f8f8,
  "green-2": #F0FFF1,
  "green-3": #006435,
  "button-green": #007E8A,
  "red": #9b1a47,
  "dark-red": #85163d,
  "white": #ffffff,

  "mid-grey": #b1b4b6,
  "black": #2f2f2f
);

@function ccs-colour($colour) {
  $colour: quote($colour);

  @if not map-has-key($ccs-colours, $colour) {
    @error "Unknown colour `#{$colour}`";
  }

  @return map-get($ccs-colours, $colour);
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

$govuk-font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
$govuk-font-family-print: sans-serif;

$govuk-font-weight-light: 300;
$govuk-font-weight-regular: 400;
$govuk-font-weight-semi-bold: 600;
$govuk-font-weight-bold: 700;

$govuk-heading-xl: 48px;
$govuk-heading-l: 27px;

$govuk-button-background-colour: ccs-colour("button-green");
$ccs-border-colour: ccs-colour("mid-grey");
$ccs-brand-colour: ccs-colour("red") !default;

#main-footer .ccs-footer__links {
  text-decoration: underline;
}
