div .branch {
    border-bottom: 1px solid #bfc1c3;
    padding-bottom: 20px;
    margin-bottom: 20px
}

div .markup {
    text-align: right;
}

@media print {
  div.branch {
    page-break-inside: avoid;
  }

  div.branch h2 {
    font-size: 0.8rem;
  }

  div.branch p,
  div.branch li,
  div.branch .distance,
  div.branch .markup-rate {
    font-size: 0.8rem !important;
  }

  div.branch p.distance,
  div.branch p.distance-units,
  div.branch p.markup-rate-units,
  div.branch p.markup-rate {
    display: inline;
  }

}
