@import './shared/colors.scss';

.govuk-header {
  color: $ccs_header_fg;
  background-color: $ccs_header_bg;
}

.govuk-header__container {
  border-bottom: none;
}

.govuk-footer {
  background-color: $ccs_footer_bg;
  color: $ccs_footer_fg;
  padding: 0;
}

.govuk-footer__meta {
  justify-content: flex-start;
}

.govuk-footer__meta-item {
  margin-top: 15px;
}

.govuk-header__container, .govuk-footer__container {
  padding: 15px 0;
}

.ccs-logotype svg {
  width: 110px;
  height: 90px;
}

@media (min-width: 641px) {
  .ccs-logotype svg {
    width: 140px;
  }

  .ccs-logotype svg,
  .govuk-footer__meta {
    height: 113px;
  }

  .govuk-footer__meta {
    justify-content: flex-end;
  }

  .govuk-footer__meta-item {
    margin-top: 0;
    margin-bottom: 0;
  }

  .govuk-header__container, .govuk-footer__container {
    padding: 30px 0;
  }
}

@media print {
  .ccs-no-print {
    display: none;
  }

  .ccs-logotype image {
    filter: invert(100%);
  }

  .govuk-header, .govuk-footer {
    color: black;
    background: none;
  }
}
