<h2 class="govuk-heading-m govuk-!-margin-bottom-1">
  <%= t('.contract_details') %>
</h2>

<%= render partial: 'facilities_management/shared/summary_tables/contract_summary_table', locals: { sections: ['contract_name', 'estimated_annual_cost', 'tupe', 'contract_period'] } %>
