<p><%= @upload.id %></p>
<p><%= @upload.state %></p>

<%= link_to "Approve", supply_teachers_admin_approve_path, class: 'govuk-button' %>
<%= link_to "Reject", supply_teachers_admin_reject_path, class: 'govuk-button' %>