<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 cmp-page-heading"><%= t('.heading') %></h1>
    <p class="govuk-body"><%= t('.content_html', session_no: @upload.short_uuid) %></p>
    <%= link_to 'Back to all uploads', supply_teachers_admin_uploads_path, class: 'govuk-button govuk-button--secondary' %>
  </div>
</div>