<div class="govuk-!-margin-top-9 govuk-!-margin-left-5">
  <%= f.submit t('.continue_to_results'), class: 'govuk-button govuk-!-margin-bottom-3', name: 'continue_to_results'%>
  <br />
  <%= link_to t('.return_to_dashboard'), facilities_management_rm3830_procurements_path, class: 'govuk-link' %>
</div>
