<p class="govuk-body govuk-!-width-two-thirds">
<%= t('.steps') %> 
</p>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_step_by_step_navigation(
      [
        {
          title: t('.step_1.title'),
          content: [
            {
              type: :paragraph,
              text: t('.step_1.information.content')
            },
            {
              type: :list,
              items: [
                {
                  text: t('.step_1.information.part_1.list.item_1')
                },
                {
                  text: t('.step_1.information.part_1.list.item_2')
                },
                {
                  text: t('.step_1.information.part_1.list.item_3')
                }
              ]
            },
            {
              type: :paragraph,
              text: t('.step_1.information.part_2.content')
            },
            {
              type: :list,
              items: [
                {
                  text: t('.step_1.information.part_2.list.item_1')
                },
                {
                  text: t('.step_1.information.part_2.list.item_2')
                }
              ]
            },
            {
              type: :paragraph,
              text: t('.step_1.requirements.content')
            },
            {
              type: :list,
              items: [
                {
                  text: t('.step_1.requirements.list.item_1')
                },
                {
                  text: t('.step_1.requirements.list.item_2'),
                  no_marker: true
                },
                {
                  text: t('.step_1.requirements.list.item_3')
                }
              ]
            },
            {
              type: :paragraph,
              text: t('.step_1.content')
            },
          ]
        },
        {
          title: t('.step_2.title'),
          content: [
            {
              type: :paragraph,
              text: t('.step_2.content')
            },
            {
              type: :list,
              items: [
                {
                  text: t('.step_2.list.item_1')
                },
                {
                  text: t('.step_2.list.item_2')
                },
                {
                  text: t('.step_2.list.item_3')
                }
              ]
            }
          ]
        },
        {
          title: t('.step_3.title'),
          content: [
            {
              type: :paragraph,
              text: t('.step_3.content.part_1')
            },
            {
              type: :list,
              items: [
                {
                  text: t('.step_3.list_1.item_1')
                },
                {
                  text: t('.step_3.list_1.item_2')
                },
                {
                  text: t('.step_3.list_1.item_3')
                }
              ]
            },
            {
              type: :paragraph,
              text: t('.step_3.content.part_2')
            },
            {
              type: :list,
              items: [
                {
                  text: t('.step_3.list_2.item_1')
                },
                {
                  text: t('.step_3.list_2.item_2')
                }
              ]
            }
          ]
        },
      ]
    ) %>
  </div>
</div>
