$ccs-dashboard-panel-border-colour: ccs-colour("grey");
$ccs-dashboard-panel-background-colour: ccs-colour("light-grey");

.ccs-dashboard-section__container {
  @extend %govuk-body-m;

  @include govuk-media-query ($from: tablet) {
    display: flex;
  }
}

.ccs-dashboard-section__heading {
  margin-top: govuk-spacing(5);
  margin-bottom: govuk-spacing(1);
}

.ccs-dashboard-section__heading-section-break {
  margin-bottom: govuk-spacing(5);
}

.ccs-dashboard-section__panel {
  margin-bottom: 30px;
  margin-left: 15px;
  padding: 10px;
  border: 1px $ccs-dashboard-panel-border-colour solid;
  background: $ccs-dashboard-panel-background-colour;

  @include govuk-media-query ($from: tablet) {
    margin-right: 10px;
    margin-left: 10px;

    &:first-child {
      margin-left: 15px;
    }
  }
}

.ccs-dashboard-section__panel-title {
  @include govuk-link-common;
  @include govuk-link-style-no-visited-state;
  @include govuk-typography-weight-bold;

  text-decoration: none;
}

.ccs-dashboard-section__panel-description {
  margin-top: 20px;
}
