<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl cmp-page-heading"><%= t('.header') %></h1>
    <%= render partial: 'master_vendor', collection: @suppliers %>
  </div>
</div>
