<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_text_input(
      f,
      :annual_contract_value,
      {
        label: {
          text: t('.label_text'),
          classes: 'govuk-label--m'
        },
        hint: {
          text: t('.hint_text'),
          id: 'annual-contract-value-hint'
        },
        input: {
          classes: 'govuk-input--width-10 ccs-number-field ccs-integer-field',
          prefix: {
            text: '£'
          },
          attributes: {
            maxlength: 15,
            aria: {
              describedby: 'annual-contract-value-hint'
            }
          }
        }
      }
    )%>
  </div>
</div>
