<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= govuk_text_input(
      f,
      :contract_name,
      {
        label: {
          text: t('.label_text'),
          classes: 'govuk-label--m'
        },
        hint: {
          text: t('.hint_text'),
          id: 'contract-name-hint'
        },
        input: {
          classes: 'govuk-input--width-20',
          attributes: {
            required: true,
            maxlength: 100,
            aria: {
              describedby: 'contract-name-hint'
            }
          }
        }
      }
    )%>
  </div>
</div>
