List of Suppliers

<% @idx %>
<br/>
<%= @idx2 %>


    <!-- Start of main list section -->
    <div id="CCS-fm-suppliers-long-list" class="govuk-grid-column-two-thirds">
        <%= render('facilities_management/long_list/lot1a') %>
        <%= render('facilities_management/long_list/lot1b') %>
        <%= render('facilities_management/long_list/lot1c') %>
    </div>