<% if request.path_info.include? 'my-buyer-account' %>
  <span class="govuk-heading-m fm-buyer-account-heading"><%= 'Buyer account' %></span>
<% else %>
  <span class="govuk-heading-m fm-buyer-account-heading"><%= t('home.index.facilities_management_link') %></span>
<% end %>
