<table class="govuk-table">
    <% if !@page_data[:recieved_offers].empty? %>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter govuk-!-padding-right-4" scope="col">Contract name</th>
                <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter govuk-!-padding-right-4" scope="col">Buyer</th>
                <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter govuk-!-padding-right-4" scope="col">Date offer expiers</th>
                <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter" scope="col"></th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <% @page_data[:recieved_offers].each do |recieved_offer| %>
                <tr class="govuk-table__row">
                    <!-- TODO: Add the link in the future-->
                    <td class="govuk-table__cell govuk-!-padding-right-4" scope="row"> <%= link_to recieved_offer[:contract_name], '#', class: 'govuk-link govuk-link--no-visited-state' %> </td>
                    <td class="govuk-table__cell govuk-!-padding-right-4"> <%= recieved_offer[:buyer] %> </td>
                    <td class="govuk-table__cell govuk-!-padding-right-4"> <%= recieved_offer[:date_offer_expiers]&.strftime '%e %B %Y, %l:%M%p' %> </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag"> <%= recieved_offer[:status] %> </strong></td>
                </tr>
            <% end %>
        </tbody>
    <% else %>
        <hr class="govuk-section-break govuk-section-break--visible">
                <span class="govuk-hint govuk-!-margin-top-3"> You do not have any received offers </span>
        <hr class="govuk-section-break govuk-section-break--visible">
    <% end %>
</table>