.calculator-form__day-rate {
	position: relative;
}
.calculator-form__day-rate-input {
	padding-left: 25px;
}
.calculator-form__day-rate-icon {
	font-style: normal;
	left: 12px;
	margin-bottom: 0;
	position: absolute;
	top: 8px;
}
.calculator-form__day-rate-pound-sign {
	bottom: 6px;
	left: 8px;
	position: absolute;
}