<% unless landing_or_admin_page || not_permitted_page %>
  <li class="govuk-header__navigation-item " role="navigation" >
    <%= link_to 'Back to start', back_to_start_path, class: 'govuk-header__link', id: 'back_to_start_link' %>
  </li>
<% end %>
