        <div class="govuk-phase-banner">
          <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag "><%= t('layouts.application.beta') %></strong>
            <span class="govuk-phase-banner__text"><%= t('layouts.application.feedback_html', link: feedback_email_link) %></span>
          </p>
        </div>