          <span class="govuk-error-message govuk-visually-hidden ccs-client-error-message">
            <span class="govuk-visually-hidden ccs-fully-hidden">Error: </span>
            <%= error_msg %>
          </span>