<% if landing_or_admin_page %>
  <span class="govuk-header__link--service-name">Crown Marketplace</span>
<% else %>
  <span class="govuk-header__link--service-name" ><%= t("home.index.#{service}_link") %></span>
<% end %>
