<div class="govuk-header__logo">
  <a href="<%= ccs_homepage_url %>" class="govuk-header__link govuk-header__link--homepage ga-crown-logo " aria-label="Crown Commercial Service homepage">
            <span class="govuk-header__logotype">
              <%= render partial: '/layouts/logotype' %>
              <span class="govuk-header__logotype-text ccs-remove">Crown Commercial Service</span>
            </span>
  </a>
</div>