                    <ul id="passwordrules" class="govuk-list govuk-!-margin-left-2  govuk-!-margin-bottom-6">
                        <li id="passeight" aria-labelledby="<%= text %>">
                            <span><b>&bullet;</b></span>&nbsp;at least 8 characters
                        </li>
                        <li id="passsymbol" aria-labelledby="<%= text %>">
                            <span><b>&bullet;</b></span>&nbsp;at least one symbol (eg &commat;<span class="ccs-remove">, </span>!<span class="ccs-remove">, </span>&pound;<span class="ccs-remove">, </span>&percnt;)
                        </li>
                        <li id="passcap" aria-labelledby="<%= text %>">
                            <span><b>&bullet;</b></span>&nbsp;at least one capital letter
                        </li>
                    </ul>
